[2018-09-15 18:20] rajeevjaiswal opened #5 "onTap event on List of item in a Text"
@aagarwal1012 Can I get onTap event to the list that is passed to the Text Widget?

[2018-09-15 18:26] aagarwal1012 commented on #5
@rajeevjaiswal sure, I will add this feature to the text widget. Thanks for pointing the feature 👍 😄

[2018-09-19 14:01] #5 closed

[2018-09-20 19:13] rajeevjaiswal opened #7 "Pub spec error while running debug build"
@aagarwal1012 Below is the stack trace

Launching lib/main.dart on iPhone X in debug mode...
compiler message: file:///Users/rajeevjaiswal/development/flutter/.pub-cache/hosted/pub.dartlang.org/animated_text_kit-1.1.0/lib/src/colorize.dart:120:33: Error: No named parameter with the name 'foreground'.
compiler message:                       TextStyle(foreground: Paint()..shader = linearGradient))
c

[2018-09-20 19:50] #7 closed

[2018-09-20 20:02] rajeevjaiswal commented on #5
@aagarwal1012 Does this returns the text that was clicked or just a tap event?

[2018-09-21 04:58] rajeevjaiswal commented on #5
As the widget takes list of string, I believe you can give the index of the tapped text.
Another thing if possible please also provide animation of text like from right to left, left to right

[2018-09-22 13:54] rajeevjaiswal commented on #5
@aagarwal1012 No issues. Can you guide me what should I change to get position as callback when  onTap is triggered

[2018-09-22 17:18] aagarwal1012 commented on #5
@rajeevjaiswal I think that feature "get position on callback" is not useful for this package as this package is meant only for the UI part.
Also I have added some more text animations that could be implemented under the **Projects** section of this repository. You can work on them or you can propose some other ideas that can be useful for this repository...

[2018-09-22 17:45] aagarwal1012 commented on #5
@rajeevjaiswal I think that the feature that you want is not possible in the way I have implemented the animation part because I have used **stack** and put different text widget one over another and make all the animations work. If you find the one to resolve this issue then tell me.

[2018-10-21 22:44] OsamaNsr opened #8 "ability to choose between Repeating or play once (Forward)"
### missing a feature
### I'd like to add a simple option to the animation whether it shall repeat or play once.

also if possible, more control of the animation, like stopping it, resume and delay.

this is my very 1st ticket ever so hope it's clear and following the rules.

[2018-10-22 15:17] aagarwal1012 commented on #8
@OsamaNsr
I will surely look upon this, if you like to contribute then you can surely make a pull request.
Thanks 👍

[2018-11-12 11:00] nvcken opened #11 "[Question] Does animation rendered on native canvas ?"

[2018-11-14 08:11] aagarwal1012 commented on #11
@nvcken, No animations are not rendered on native canvas rather they are rendered on text or containers.

[2018-11-21 16:45] #11 closed

[2018-11-21 17:52] aagarwal1012 commented on #8
@OsamaNsr this issue has been resolved.
Thank you @salihgueler for great work 👍

[2018-11-21 17:52] #8 closed

[2018-12-04 15:51] JotaFerreira opened #13 "TextAlign Property"
Is support possible?

[2018-12-06 10:32] aagarwal1012 commented on #13
@JotaFerreira, You have to do it yourself by putting the `Animated Text Widget` in the `Container Widget` or any other widget and then align it.
Hope you understand this thing.

[2018-12-06 11:18] JotaFerreira commented on #13
I tried this, but I could not, so I "solved" by inserting empty spaces in the text to be centralized.

`  static final List<String> music6 = [
    "Do nosso peito a aurea offerta",
    "    Do valor de todos nós    ",
    "  Há de florir forte e certa  ",
    "   De um canto a rutila voz   "
  ];`

[2018-12-06 20:20] aagarwal1012 commented on #13
@JotaFerreira
Oh! Now I understand your issue, surely work upon it.
@salihgueler, can you have a look at this issue?

[2018-12-10 15:10] salihgueler commented on #13
When I have the opportunity I will take a look into it @aagarwal1012 :)

[2018-12-18 04:44] ikwijaya opened #14 "Error cause Opacity value isn't double when run and build"
Opacity value isn't double

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Typer.dart
2. Your value of capacity is not doube

**Expected behavior**
Flutter need double variable not integer

**Screenshots**
file:///Users/ict-apps/Documents/Development/flutter/.pub-cache/hosted/pub.dartlang.org/animated_text_kit-1.2.0/lib/src/typer.dart:123:26: Error: The argument type 'dart.core::int' c

[2018-12-18 09:10] anderscheow opened #15 "Provide the ability to randomise the "text""
It would be good if you able to randomise the list of texts

[2018-12-18 18:05] aagarwal1012 commented on #14
@ikwijaya, I will surely look upon this issue. Thanks 👍

[2018-12-18 18:07] aagarwal1012 commented on #15
@anderscheow, thanks for the suggestion 👍

[2018-12-19 02:35] anderscheow opened #16 "Slide in from right and Slide out to left or vice versa"
Would you provide a new animated text kit which serve following purpose:
_           _           A
_           A           _ (stop for a duration)
A           _           B
_           B           _ (stop for a duration)
B           _           C
... and so on

[2018-12-19 21:54] aagarwal1012 commented on #16
@anderscheow, If you had a gif image of the animation then we can surely add this into the project section.

[2018-12-20 02:10] anderscheow commented on #16
https://github.com/hust201010701/XDanmuku
It could be something like this. It can be multiple or single text, with right to left or left to right animation.

[2018-12-20 02:11] anderscheow opened #17 "Accept List of Widgets instead of List of String for more flexibility"
I would suggest if the List<String> could change to List<Widget>, then it would be great. Since by using widget provide better flexibility.

[2018-12-20 14:19] aagarwal1012 commented on #17
@anderscheow,  Actually I already had this issue in my mind at the time of making this package but cannot find a way to implement that while using different animation and text rendering.
Thanks for raising the issue, we will surely look upon this issue 👍

[2019-01-05 17:12] acmilanistie opened #18 "i cant load fontFamily: "Horizon""
[solved]how i can load fontFamily: "Horizon" or fontFamily: "Bobbers" my be in my project?

sorry solved by https://www.youtube.com/watch?v=yY9A0iJHDfA

[2019-01-07 15:58] aagarwal1012 commented on #13
#19 refrenced

[2019-01-09 08:33] anderscheow opened #20 "Implement AutoSizeText"
In some of the use cases, you may want to let the "text" to fit in a single line without truncating. So I would suggest to use [auto_size_text](https://github.com/leisim/auto_size_text) to auto scale the text based on the constraint.

[2019-01-10 13:34] #18 closed

[2019-01-13 20:17] modulovalue opened #21 "Functionality similar to AnimatedSwitcher"
**Is your feature request related to a problem? Please describe.**
I was hoping that this package would let me animate between text similar to what `AnimatedSwitcher` does.

**Describe the solution you'd like**
It would be amazing if I could provide a string (or a stream of strings) and when that string changes an animation would be triggered to flawlessly transition between the current and previo

[2019-01-16 15:52] aagarwal1012 commented on #21
@modulovalue, actually my motive of creating this package is to add different text animations and also involve the flutter community to contribute to this project.

[2019-01-16 15:52] #21 closed

[2019-01-17 02:05] anderscheow opened #22 "Prevent creation of so many widgets and animation variables"
It's clear that by creating exact number of text widget and animation variable based on the length of text is the fastest way of creating the desire animation. But memory consumption would increase based on the length of text.

So, I would suggest that just use two animations and two text widget to switch between different text, it could drastically reduce the memory consumption and increase in pe

[2019-01-19 19:51] aagarwal1012 commented on #22
Yeah we can work upon this issue. Thanks :+1:

[2019-01-30 22:44] #13 closed

[2019-03-20 09:35] baeharam opened #25 "Option for TypewriterAnimatedTextkit"
1. I wanna remove cursor
2. I wanna stop right after finish typing

[2019-03-20 21:00] aagarwal1012 commented on #25
@baeharam, maybe you can use the `Typer`  for that.

[2019-03-20 23:54] baeharam commented on #25
@aagarwal1012 Ok, then How can I two typing animation as successive animations in different positions? Is it possible? I'm just modifying your code to achieve it

[2019-04-29 08:41] pbouttier opened #26 "Animate from right to left"
Hi,

Would it be possible to have the animated text from right to left ?

I want to use it to show my users it's possible to slide from right to left, and a animation like that could be nice to show that feature. I use it with colorize right now.

Thanks in advance,

[2019-04-30 20:13] aagarwal1012 commented on #26
@pbouttier, this issue is a duplicate of #16.
Therefore, I am closing this issue. Contributions are welcomed! 😄

[2019-04-30 20:13] #26 closed

[2019-05-10 08:41] leapit opened #27 "text with setState not work"
**text with setState not work**

code like this
[code]

When text state change
[code]
will got error
[code]

**Flutter:**
[code]

[2019-07-08 06:55] maheshwari-1153 opened #30 "Request to add product in Start Flutter"
Hello,

I am Maheshwari from team GeekyAnts. On behalf of Start Flutter, we add open source products which we find helpful to the community & also we provide credits to author itself.

Let me know if you are interested showcase your product in our open source website.

Looking forward to hear from you.

[2019-07-08 13:11] ALANXIAORUI opened #31 "Need LTMorphingLabel"
**Is your feature request related to a problem? Please describe.**
i need the effect like LTMorphingLabe

**Describe the solution you'd like**
https://github.com/lexrus/LTMorphingLabel#scale---default

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots a

[2019-07-10 17:17] aagarwal1012 commented on #30
@maheshwari-1153,
Thanks, I would be glad if you include this flutter package on your website.

[2019-07-10 17:21] aagarwal1012 commented on #31
@ALANXIAORUI,
I thought of implementing them at some time before, but find a bit difficult to implement them in this package. If I get any info, I will surely tell you. Thanks.

[2019-07-20 10:11] #30 closed

[2019-07-23 09:50] mikecbone opened #32 "Pause at end of each text"
When using TyperAnimatedTextKit, the end of the text animation feels a little rushed as the full text is only displayed for a fraction of second before the next text animation starts (unless you set a high duration which isn't really a solution).

It would be helpful to have an additional argument that adds a delay in ms to the end of each text animation, before starting the next text.

I have tri

[2019-07-28 09:16] jinfagang opened #33 "text random how"
How to make animate random text in a text list?

[2019-08-01 08:45] aagarwal1012 commented on #32
@mikecbone, thanks for pointing this feature in this issue.
Hope that this issue will get resolved soon.

[2019-08-01 08:49] aagarwal1012 commented on #33
@jinfagang,
You can use [random_string](https://pub.dev/packages/random_string) dart packages to generate texts and pass them in the `Animated Text Kit`.
Also, this issue doesn't meet the requirements of this package so I am closing this issue for now.

[2019-08-01 08:49] #33 closed

[2019-08-01 08:49] aagarwal1012 commented on #27
@leapit, any updates regarding this issue?

[2019-08-04 18:36] aagarwal1012 commented on #27
Since there is no reply coming from @leapit, I am closing this issue. Please feel free to reopen it if any problem exists.

[2019-08-04 18:36] #27 closed

[2019-08-12 01:17] abhijeets06 opened #34 "How to play and stop animation?"
im newbie please guide :)

1. how to stop animating on load?
2. how to play and stop animation from FloatingActionButton?
please check image for code reference
[imgur-img-link](https://imgur.com/a/RLLovpt)

[2019-08-19 19:01] aagarwal1012 commented on #34
@abhijeets06, there is no functionality regarding the stop and start of the animations, it is autonomous in nature.

[2019-09-02 17:01] flutter-arsenal opened #35 "Add Animated-Text-Kit to Flutter Arsenal"
Animated-Text-Kit can be added to FlutterArsenal to help with reach, accessibility and ease-of-use. [Flutter Arsenal](https://flutterarsenal.com) is a directory that is being curated for Flutter libraries and tool. The best way to do is by creating an issue on [github](https://github.com/flutterarsenal/FlutterArsenal/issues/new/choose).

[2019-09-02 20:20] AdamSGit commented on #34
Well customization is key... I would like this feature as well. Do you want a PR ?

[2019-09-02 20:32] aagarwal1012 commented on #34
@AdamSGit, It will be awesome if you make a PR. Thanks!

[2019-09-02 20:34] aagarwal1012 commented on #35
@flutter-arsenal why not you create the issue on your own?

[2019-09-03 15:29] karx commented on #35
I took it up.
@flutter-arsenal generated this issue as part of FlutterArsenal awareness drive. It's an automated bot.

https://github.com/flutterarsenal/FlutterArsenal/issues/58
Cheers.

[2019-09-03 17:13] aagarwal1012 commented on #35
@karx thank buddy! 👍

[2019-09-03 17:13] #35 closed

[2019-09-04 20:53] AdamSGit commented on #34
I'm on it bro ;)
Thing is, the draft I'm working on is simpler and more powerful, but it imply to replace the total duration parameter with two new ones :
 - **speed** *which is the duration of each character*
 - **pauseDuration** *which is pause duration between each texts*

Those changes would give the power to play complexes sequences. But as it is a breaking change, you will need to wait for t

[2019-09-04 21:33] aagarwal1012 commented on #34
@AdamSGit, that will surely work, thanks 👍

[2019-09-17 22:47] AlaaEldeenYsr opened #39 "Updating the new incoming text values through didUpdateWidget lifeCycle"

[2019-09-21 18:44] AdamSGit commented on #34
Hi again mate, here is the PR.

Paradoxically, this PR doesn't address the initial issue #34. Being able to pause or play the typer from another widget event would be overkill, given how dart handle that. But it should be pretty easy to create you class extended from the typer class and implement it with the event system you chose.

[2019-09-21 21:02] aagarwal1012 commented on #34
@AdamSGit, thanks for the update, please check my comment in your PR.

[2019-09-21 21:05] aagarwal1012 commented on #39
@AlaaEldeenYsr, can you please add some description for this issue?

[2019-09-22 01:56] AlaaEldeenYsr commented on #39
The problem is when i setState to change the text value which is passed to
the Animated text widget that widget doesn't replace the incoming new text
value with the old one. But what happened that both float on each others
and that's because you are using stateFullWidget

here is the the tow cases
first video is without using the AnimatedTextKit
second one is with using the AnimatedTextKit

On Sat

[2019-10-05 09:05] ShashankSirmour opened #41 "Restart the animation when text value changes"
I want to restart the animation when text value changes and I don't want to  repeat the animation once the animation is completed

**Describe the solution you'd like**
when text value changes it restart the animation from begin

[2019-10-12 13:08] davidobber opened #42 "ColorizeAnimatedTextKit does not center text correctly"
the widget is centered, but the text position is correct only for the longer text string. The other stings start where the longer string starts, so they appear left shifted.

[code]

**Expected behavior**
Each string should be centered

**Flutter:**
Flutter (Channel stable, v1.9.1+hotfix.4, on Microsoft Windows [Version 6.1.7601], locale it-IT)
Android toolchain - develop for Android devices (Andr

[2019-10-14 07:53] davidobber commented on #42
My mistake, it works as expected!

[2019-10-14 07:53] #42 closed

[2019-10-19 01:28] awhitford opened #43 "Restart animations OR delay between repetitions"
When using `isRepeatingAnimation: false`, it would be nice to be able to programmatically restart the animation(s).  (I'm thinking maybe a response to a tap.)

I'm not an expert, but perhaps exposing [AnimationController](https://api.flutter.dev/flutter/animation/AnimationController-class.html) would help?

An alternative solution would be to specify an additional `Duration` that represents the de

[2019-10-29 19:37] awhitford opened #44 "RotateAnimatedTextKit not centering"
Consider the following code:
[code]
The text appears on the left rather than being centered, despite being a child of `Center` and `Expanded`.

If I replace the `RotateAnimatedTextKit` with `FadeAnimatedTextKit`, then the text is centered as expected.

To center `RotateAnimatedTextKit`, I need to wrap it in a `Row` with `mainAxisAlignment: MainAxisAlignment.center`, but I would expect that to be u

[2019-12-26 19:41] aagarwal1012 commented on #43
@awhitford, v2.0.0 solves this issue.

[2019-12-26 19:41] #43 closed

[2019-12-26 19:41] aagarwal1012 commented on #41
@ShashankSirmour, v2.0.0 solves this issue.

[2019-12-26 19:42] #41 closed

[2019-12-26 19:42] #39 closed

[2019-12-26 19:43] aagarwal1012 commented on #34
@abhijeets06, v2.0.0 solves this issue.

[2019-12-26 19:43] #34 closed

[2019-12-26 19:44] aagarwal1012 commented on #32
@mikecbone, v2.0.0 solves this issue.

[2019-12-26 19:44] #32 closed

[2019-12-26 19:44] aagarwal1012 commented on #15
We don't this issue anymore.

[2019-12-26 19:44] #15 closed

[2019-12-26 19:46] aagarwal1012 commented on #20
We don't need this issue, because using auto_size_text will generate an extra dependency on the package.

[2019-12-26 19:46] #20 closed

[2019-12-26 19:46] #22 closed

[2019-12-26 19:47] #25 closed

[2019-12-26 19:47] #17 closed

[2019-12-26 19:48] #16 closed

[2020-01-04 08:03] adilsachwani commented on #44
I am facing the same issue as reported.

[2020-01-28 21:59] sgehrman opened #51 "Bug: calling containsKey on string"
Run the example app, enable break on all exceptions.

A bunch of places in the code call:
      if (!widget.text[i].containsKey('text')) throw Error();

containsKey is not a function on String.  Maybe you meant to use _texts?

[2020-01-28 22:11] sgehrman commented on #51
Add strict linting and clean up your code with analyis_options.yaml file.  You'll probably find other errors.

[2020-02-05 09:36] nasirmalik01 opened #52 "Bug Fixing"
when I move back to animated activity. Animated text hides and doesn't appear again until i restart the app.

[2020-02-08 17:17] carmas123 opened #53 "Define text displayed delay"
Hi, I'm try to use RotateAnimatedTextKit but I don't find any property to define how long the text must be displayed. There are a duration to specify the animation speed and pause to determine when the next text must be showed, but there is no option to specify how long the text locked before the next.

Regards

[2020-02-09 18:43] tusharhigh opened #54 "Not being able to update my String values in the UI"
The 'text:' inside the function which contains a list of string doesn't update when I changed my list by inheriting values from a different class. I have used set state to rebuild my widget tree, but it still show my first defined List of string values instead of new ones

[2020-02-21 01:20] awhitford commented on #43
I don't see how v2.0.0 solves this issue.

I see that `totalRepeatCount` was introduced, but I don't see a way to control the `pause` _between repeats_.

[2020-02-21 01:25] awhitford opened #55 "Show last text"
I recently upgraded to v2.0.0 and now my text animations behave differently than they used to.  Sure, I had to adjust the `duration` due to the breaking change -- not a big deal.  However, the `RotateAnimatedTextKit` and `FadeAnimatedTextKit` used to show the last text item when it was done.  Now, it rotates or fades away too, leaving a blank area of the screen.

Is there a way to get the old beha

[2020-02-29 11:33] dekadevelop opened #56 "Use of Center or Padding messes up with ColorizeAnimatedTextKit"
**Describe the bug**
If I try to adjust ColorizeAnimatedTextKit with padding in a 3 words string, the animation does a run in the first row and then, starts again for the full string.

**To Reproduce**
Steps to reproduce the behavior:
[code]

[2020-03-05 13:37] EmadBustati opened #57 "Text changes not updated"
Please add the following code to the state class in order to reflect any changes to the string list variable.

in `_TyperState`  override `didUpdateWidget` to cheack if the text changed.

[code]

[2020-03-08 23:36] JagandeepBrar opened #58 "AnimationController.dispose() called more than once"
**Describe the bug**
When using `TyperAnimatedTextKit` in a widget that will eventually get removed, an error is shown because the animation controller is attempted to be destroyed multiple times.

**To Reproduce**
In my use case, I have a FutureBuilder that calls a "Loading" widget (Which contains a `TyperAnimatedTextKit`), and once the data is loaded FutureBuilder removes the loading widget and

[2020-03-15 17:58] emanuel-braz commented on #55
same here

[2020-03-16 22:53] aagarwal1012 opened #59 "Maintainer Required"
Due to multiple engagements and commitments, I am unable to devote time to solving issues and maintaining the package. Therefore, I strongly require someone who can spend his time to maintaining this repository.
Anyone interested can comment below and please start working on the current issues! In case of any difficultly, I am ready for a quick call to solve ambiguities.

[2020-03-26 13:02] rashmisridar commented on #55
same problem with me also @awhitford, @emanuel-braz found any solution

[2020-03-26 13:58] emanuel-braz commented on #55
Downgrade to v1.3.1

[2020-03-26 17:47] rashmisridar commented on #55
Thank You

[2020-03-26 17:57] rashmisridar commented on #55
For my need have to repeat the count 3 times after that need to show normal text so made isRepeatingAnimation: false ,used the onFinished method added the boolean value .
Below is the code snippet

`ScaleAnimatedTextKit(
                                                          totalRepeatCount: 3,
                                                          isRepeatingAnimation: false,

[2020-03-26 18:06] rashmisridar commented on #55
Thank You

[2020-04-02 01:25] danniescull opened #60 "Readme showing wrong parameter in example code"
**Describe the bug**
In the Readme, the example under Usage uses the parameter "duration" to change the speed of the animation but it should be "speed".

[2020-04-07 07:05] awhitford commented on #58
I am seeing a similar issue with a single `FadeAnimatedTextKit`:
[code]

[2020-04-07 07:18] awhitford commented on #58
The problem appears during a screen transition, so the widget's `dispose` is conflicting with [this code in `nextAnimation`](https://github.com/aagarwal1012/Animated-Text-Kit/blob/master/lib/src/fade.dart#L207):
[code]

I recommend refactoring such that the lifecycle of the `AnimationController` is closely linked to the widget lifecycle.  In other words, I would avoid replacing it during `nextAnim

[2020-04-08 00:25] kbokarius opened #61 "Have each letter fade in/out in TyperAnimatedTextKit"
Thank you for this great library! I'd like to use the TyperAnimatedTextKit but have each letter fade in, instead of just popping into existence. I looked through the docs but this doesn't seem to be possible?

[2020-04-08 00:39] kbokarius opened #62 "Multi-line text with TyperAnimatedTextKit causes last word to disappear/flicker"
When using TyperAnimatedTextKit with a long paragraph that takes up several lines, then as the last word in a line gets typed, it'll disappear and get moved to the next line below. This results in kind of flicker as the text being typed is moved to the next line. Is there a way to have the control predict which line the next word should be on, so that it types in on the correct line?

[2020-04-10 17:45] Mehdi-orang opened #63 "Duration property"
I'm getting error when i want to set duration in TypewriterAnimatedTextKit() object.

The named parameter 'duration' isn't defined.
Try correcting the name to an existing named parameter's name, or defining a named parameter with the name 'duration'.dart(undefined_named_parameter)

[2020-04-18 17:00] Skyost commented on #58
I have the same error :

[code]

[2020-04-19 06:59] aadarshadhakalg commented on #58
Beside of the TyperAnimatedTextKit widget, have you used any other animation ? I mean have you created your custom animation controller in same file?

[2020-04-20 15:04] seadhant opened #64 "LiquidText should have a feature for removing the container box and act independently like the TypeWriterText(just only the text)"

[2020-04-24 14:45] danniescull commented on #63
You need to use 'speed' instead of 'duration'.

[2020-04-24 15:37] danniescull commented on #60
'duration' is now the working parameter.

[2020-04-24 15:37] #60 closed

[2020-04-26 11:25] rostopira opened #66 "totalRepeatCount is set to 3 by default, why?"
In `fade.dart`:
[code]
Why 3? Not 5 or 10?
I were honestly expected it to be infinity

[2020-05-05 01:42] recapnrelax commented on #51
I'm also seeing this issue.

[2020-05-09 20:54] mohmedAK opened #69 "when i use TypewriterAnimatedTextKit it is vary fast how to make it slowly"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-05-11 08:03] AadumKhor commented on #59
@aagarwal1012 would love to contribute to this package as well.

[2020-05-11 08:05] AadumKhor commented on #44
@awhitford the widget `RotateAnimatedTextKit` has an alignment parameter that you can specify. That way you do not need to use `Center`.

[2020-05-11 08:11] AadumKhor commented on #69
@mohmedAK you can use the speed parameter and specify the time of the animation.

[2020-05-11 10:05] aagarwal1012 commented on #59
@AadumKhor sent you a collaborator invite for this package. Glad to have you!

[2020-05-11 12:10] AadumKhor commented on #63
@Mehdi-orang there is no duration property in `TypewriterAnimatedTextKit`, it is named `speed` because it helps control the speed of the animation.

[2020-05-13 08:49] AadumKhor commented on #69
Closing this issue since there is no feedback. Feel free to reopen if and when needed.

[2020-05-13 08:49] #69 closed

[2020-05-13 21:21] mohmedAK commented on #69
Thanks for help

[2020-05-14 09:10] AadumKhor commented on #63
Closing this issue since there is no feedback. Feel free to reopen if and when needed.

[2020-05-14 09:10] #63 closed

[2020-05-14 15:35] plcpinho opened #71 "RotateAnimatedTextKit Animation and Infinity Repetition Bug"
**Bugs Description**
(1) When using the RotateAnimatedTextKit widget, the rotation animation does not performs as expected. After the 2.0.0 version, the text starts at the top (not at the center) and it is impossible fix this animation problem using some align property. I hope this issue to be fixed once I'd like to use some of the new versions properties such as "pause".

(2) isRepeatingAnimation

[2020-05-15 03:06] yiminghan commented on #71
I just opened #72 for infinite animation, please take a look

[2020-05-16 03:05] yiminghan commented on #58
I'm getting into the same issue. I agree with @awhitford we should just set the controller to null after dispose.

[2020-05-16 18:00] payam-zahedi opened #73 "onFinished callback don't work after navigation"
**Describe the bug**
I have TypewriterAnimatedTextKit and set onFinished callback for it. I found that during typewriting if we navigate.push to another page onFinished callback doesn't invoke until we back to the previous page.

**To Reproduce**
Steps to reproduce the behavior:
1. create TypewriterAnimatedTextKit
2. set onFinished callback for it.
3. Go to NextPage

**Flutter:**
 -  1.12.13+hotfi

[2020-05-17 14:16] #44 closed

[2020-05-18 08:21] AadumKhor commented on #56
@dekadevelop I am not sure what behavior you are expecting since you haven't mentioned it. I would really appreciate it if you specify exactly what you're looking for from the widget.

[2020-05-19 11:59] AadumKhor commented on #52
@nasirmalik01 I have checked with the `FadeAnimatedTextKit` and it seems that #72 resolves the issue. Looking forward to your feedback.

[2020-05-20 02:46] CesarPrz opened #75 "Feature request: Percentage parameter for TextLiquidFill widget"
**Is your feature request related to a problem? Please describe.**
I wanted to fill up the waves with a parameter for the TextLiquidFill widget, which is not possible.

**Describe the solution you'd like**
Add a `percentage` parameter on the TextLiquidFill
(After looking at your source code, i think it would be as simple as to replace
text_liquid_fill.dart:130 ` percentValue: _loadValue.value,`
to

[2020-05-20 14:39] raymondddenny opened #76 "TextLiquidFill not showing"
**Describe the bug**
I was trying using the TextLiquidFill, but it got me error

**Expected behavior**
It show up like the example

**Screenshots**
![1589985373571](https://user-images.githubusercontent.com/42437225/82459579-b2bd5a00-9aea-11ea-9838-d73ddc76431f.jpg)

**Flutter:**
 - version : 1.18.0-11.1.pre
 - channel : beta

**Dart:**
 - version : 3.10.2

**Additional context**
packages/flutter/

[2020-05-20 21:11] sigjak commented on #60
This is still an issue on May 20th. The example has duration, which is not working but speed is. (vs 2.0.1

[2020-05-22 06:30] AadumKhor commented on #76
@raymondddenny I used the `TextLiquidFill` code shown in the screenshot and it works fine. Maybe it breaks down in a certain way with the whole widget tree so I would suggest you post the entire code for me replicate.

[2020-05-22 06:33] raymondddenny commented on #76
@AadumKhor Thanks for reply, will try recheck my code again first, if still got bug will inform you here. Thanks .

[2020-05-22 20:56] aagarwal1012 commented on #58
**v2.1.0** of Animated text kit solves this issue, closing this issue for now. Feel free to reopen this issue if any issue arises.

[2020-05-22 20:56] #58 closed

[2020-05-22 22:39] awhitford commented on #58
Code like [this](https://github.com/aagarwal1012/Animated-Text-Kit/commit/13da3802357365f5ee57ac92b8e68d7e92746fb5#diff-2c3c0cfccb5fd886846ed3520d7b3880R158):
[code]
is a problem and it isn't any better than:
[code]

If `_controller` is null, then the `?.` will protect `stop()`, but then you will get a _Null Pointer Exception_ calling `dispose()`.

Some are fine (rotate, scale), but some are fault

[2020-05-23 04:33] AadumKhor commented on #71
@plcpinho The `RotateAnimatedTextKit` is not supposed to start from the center. It is supposed to slide in from above to give the effect of rotating. As far as the alignment is concerned we have also updated that. Please check and provide updates.

[2020-05-23 04:34] AadumKhor commented on #66
Resolved in #72. Closing this issue.

[2020-05-23 04:34] #66 closed

[2020-05-23 08:56] #52 closed

[2020-05-24 16:48] #71 closed

[2020-05-26 07:38] AadumKhor commented on #51
@sgehrman I have added a type check in #82 to ensure it is not called on a string. Please check and update if you see any other issue with it.

[2020-05-26 07:38] #51 closed

[2020-05-29 01:06] #76 closed

[2020-05-30 08:03] #56 closed

[2020-05-30 19:07] aagarwal1012 commented on #51
@sgehrman, we have pushed a new version named `v2.2.0` of animated text kit that solves this issue. Please check and feel free to reopen it if any problem arises.

[2020-05-30 19:11] #53 closed

[2020-05-30 19:12] #54 closed

[2020-06-01 10:34] kw2019ltd opened #87 "issue with pixels in case text is big"
even if FadeAnimatedTextKit inside expanded widget still getting below error

![image](https://user-images.githubusercontent.com/47334522/83400827-38ef6f80-a40c-11ea-9017-0317ab393fb9.png)

[2020-06-02 18:01] AadumKhor commented on #87
Hi @kw2019ltd. Please provide the full source code so that I can replicate this behavior.

[2020-06-03 05:02] kw2019ltd commented on #87
its easy make Text with font size big enough you will got this error

[2020-06-03 08:48] AadumKhor commented on #87
I have tried these. Have a look at the screenshots.

1. Simple `Row` as `Scaffold` body with `FadeAnimatedTextKit` in `Expanded`

[code]
![image](https://user-images.githubusercontent.com/37381075/83610089-ab8f5500-a59c-11ea-8d67-d8e3dfc66ad0.png)

2. Column with Expanded

[code]
![image](https://user-images.githubusercontent.com/37381075/83609708-4471a080-a59c-11ea-996d-08acb76f67ee.png)

There i

[2020-06-06 17:08] ojasvishaklya opened #89 "duration method is not working"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Flutter:**
 - version
 - channel

**

[2020-06-07 14:59] #87 closed

[2020-06-07 15:17] AadumKhor commented on #89
@ojasvishaklya can you describe the issue in detail preferably with the source code?

[2020-06-08 23:58] paxcodes opened #90 "[Question] How to keep Centered TypewriterAnimatedTextKit from "jumping""
Because the cursor "blinks" by being added and removed, the text's width visibly "jitters" as it is centred.

![Jun-08-2020 16-49-38](https://user-images.githubusercontent.com/13646646/84090995-17602c00-a9a8-11ea-99ca-480e3f63574e.gif)

Is there a way I can centre the TypewriterAnimatedTextKit without the text-width from "jumping"?

If I change the package's behaviour of "deleting" the underscore,

[2020-06-09 02:31] paxcodes commented on #90
Looks like https://github.com/aagarwal1012/Animated-Text-Kit/pull/85 solves this.

[2020-06-09 02:31] #90 closed

[2020-06-11 03:30] kg551915 opened #91 "Make compatible with: Google Fonts Package"
Make it possible to use fonts with the following package: https://pub.dev/packages/google_fonts

[2020-06-11 05:48] AadumKhor commented on #89
Closing this since there is no feedback.

[2020-06-11 05:48] #89 closed

[2020-06-11 06:39] AadumKhor commented on #91
@kg551915 It is already compatible with this. Please check before opening issues.

[2020-06-11 06:39] #91 closed

[2020-06-11 19:00] cliffordh opened #92 "Request animation of any widget type"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I would like to use this package to animate more than just Text widgets but any custom widget, for example that might include an Icon.

**Describe alternatives you've considered**
Tried manual implementation but this package seems to handle a lot of the staggered animation techniques necessa

[2020-06-16 15:19] NiranjanShah opened #93 "RotateAnimatedTextKit | PageView"
RotateAnimatedTextKit is not working in PageView.
Below is the error received.

The method '-' was called on null.
Receiver: null
Tried calling: -(360.0)

[2020-06-16 19:43] harnarayans opened #94 "Can we get same effects on Icons as well?"
I like various animation effects on Text that are part of this package.
I think it would be wonderful if you could extend these animations for Icons as well.
Just imagine a glass icon with LiquidFill animation.

[2020-06-23 16:22] xande-er opened #96 "when I run the web version, an error occurs and everything breaks"
[code]

**Flutter:**
does not work on the web on all channels

[2020-06-23 16:22] xande-er opened #97 "when I run the web version, an error occurs and everything breaks"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-26 03:32] AadumKhor commented on #93
@NiranjanShah please share the source code for us to replicate.

[2020-06-26 03:33] AadumKhor commented on #94
@harnarayans Thanks for your suggestion. We have a similar request made in #92 and will surely update the package accordingly. Closing this issue here. Will update this thread once the features are in.

[2020-06-26 03:33] #94 closed

[2020-06-26 03:36] AadumKhor commented on #97
Since you have already opened #96 there is no need for opening another issue, will continue with a fix on that thread itself.

[2020-06-26 03:36] #97 closed

[2020-06-26 03:39] AadumKhor commented on #96
@xande-er please share the source code or specify the steps to reproduce the same.

[2020-06-27 22:36] Brainstorm67 opened #98 "timer not disposed when the animated text is"
When using FadeAnimatedTextKit (and probably other animations to check) the inner timer keeps going even if the widget is disposed (on screen change for example).
This can cause trouble depending on what is in the onFinished callback. In my case it was a setState going crazy because its widget was already disposed.

**To Reproduce**
my usage :
FadeAnimatedTextKit(
                            durat

[2020-07-02 06:09] #96 closed

[2020-07-02 06:09] #93 closed

[2020-07-09 15:39] AbhayVAshokan opened #100 "Add curves for animations"
**Is your feature request related to a problem? Please describe.**
The TypewriterAnimatedTextKit has ```bounce``` curve by default. That is, after completely writing a line of text, it shakes for less than a second.

**Describe the solution you'd like**
Add a curves parameter where the developer can specify animation curves like ```easeIn```, ```bounce```, ```decelerate```, etc.

**Describe altern

[2020-07-15 03:38] exptk3 opened #101 "Add Text widget properties (maxLines, overflow, etc...)"
**Is your feature request related to a problem? Please describe.**

When using FadeAnimatedTextKit, I wanted the content to be displayed as much as it could be displayed on one line, but there was no suitable way.

**Describe the solution you'd like**
To solve this problem, I changed the text widget part of the fade.dart file as follows.
  @override
  Widget build(BuildContext context) {
    final

[2020-07-16 12:44] MenachemMaron opened #102 "Animation is too quick"
**Describe the bug**
I used the animation of Typewriter, and the animation just flashes by and finishes, it does the animation but it's way too fast.

**Expected behavior**
I expected it to go slower, and actually show the animation.

**Flutter:**
 - version - latest
 - channel - stable

**Dart:**
 - version - latest

**Additional context**
Maybe you should add a property to change the speed/durat

[2020-07-17 23:45] yashank09 commented on #44
Hello devs! Thanks for this easy to use lifesaver! I'm using RotateAnimatedText with a column with cross axis center. This is making the static text centered but the RotateText will not center even with alignment or textAlign properties.
Also for some reason, the default code of alignment: AlignmentDirectional.topStart is giving me an error. Any ideas?

[2020-07-17 23:48] yashank09 commented on #44
Sorry for some reason alignment property 'centerRight' did the job.. Not sure if this is expected behavior but we can close this :)
`
  Column(
                  children: <Widget>[
                    Text(
                      "Text",
                      style: TextStyle(fontSize: 43.0),
                    ),
                    RotateAnimatedTextKit(
                      alignment: Alignme

[2020-07-19 10:02] taxon-hub commented on #44
it worked.................!

[2020-07-20 11:11] MrGrayCode commented on #27
Facing the same issue. I am unable to update the animated text using setState method.

[code]

`updateText` updates the value to `responseText` but the changes are not reflected to the widget.

[2020-07-23 12:27] kabirnayeem99 commented on #102
I am facing the same issue with the TypeWriter animation.

[2020-07-26 07:37] obitodarky commented on #102
@MenachemMaron there's a `speed` property that you can use in order to change the speed of the animation. You can use the `Duration` class to give the value

Here's an example:
[code]

[2020-08-17 17:13] snj07 commented on #102
Moreover, the underscore appears and disappears when the text is finished and that moves the whole text if the text is center aligned. That looks like some issue on UI. Instead of typing and removing underscore, it can blink a cursor and it should not affect the length of the text.

[2020-08-17 17:18] snj07 commented on #90
What's the plan of pushing this change to pub.dev? I don't see this fix in `2.2.0`? Please let us know the plans.

[2020-08-20 01:43] Macl64 opened #104 "Using setState does not update the text"
**Describe the bug**
I am attempting to update strings using "setState()" in my code. Usually, this successfully updates the text. However, I notice that once I use TyperAnimatedTextKit instead of a normal Text widget for example, setting the state no longer successfully changes the text. I wondered if there is a solution to this that I may not have considered.

**To Reproduce**
1. Create a TyperA

[2020-08-24 20:18] haardikdharma10 commented on #102
Hey, I am facing the same issue with TypewriterAnimatedTextKit.

![issue](https://user-images.githubusercontent.com/53044263/91091983-fe951780-e674-11ea-94f8-7ed13cadb575.gif)

Any fix yet?

[2020-09-09 18:08] peterkapena opened #105 "setState() called after dispose(): _ScaleTextState#d3c8e(lifecycle state: defunct, not mounted, tickers: tracking 6 tickers)"
**Describe the bug**
Hi,

I will just paste flutter debugger error info below:

**Caught error: setState() called after dispose(): _ScaleTextState#d3c8e(lifecycle state: defunct, not mounted, tickers: tracking 6 tickers)
I/flutter ( 4414): This error happens if you call setState() on a State object for a widget that no longer appears in the widget tree (e.g., whose parent widget no longer includes

[2020-09-14 17:45] SirusCodes opened #106 "Dancing Text"
Hello,
I have made an animation using text I thought making a package of it, but someone suggested me to add it to this package. Also suggest me some other name as I have named it very vaguely😅

![dancing text](https://user-images.githubusercontent.com/50910066/93119851-23af0000-f6e0-11ea-92ae-174b4e74304a.gif)

[2020-09-15 11:28] aagarwal1012 commented on #106
@AadumKhor @hemilpanchiwala, can you guys please look into this issue?

[2020-09-15 13:16] AadumKhor commented on #106
@aagarwal1012 sure. @SirusCodes excellent work first of all, this would be a good addition to the package. Since it is a "wave" you can name it around that keyword. I'll check if you have made a PR, please update the docs as well while you are at it.

[2020-09-15 13:25] AadumKhor commented on #105
@peterkapena thanks for pointing this out, we did notice this but haven't merged it yet, you'll see this resolved in further updates to the package.

[2020-09-15 13:56] SirusCodes commented on #106
Thanks @AadumKhor @hemilpanchiwala for your appreciation 😊. I would name it as WavyText and as I'm not free until 20th I will start working on it after that.

[2020-09-19 05:15] hiwa-jalal opened #108 "text not updating in a list"
i have a list of strings that i want to be displayed one by one when a button is pressed, so I get the string by using a variable and increase it's value when a button is tapped however, the change is not reflected in the UI I even tried to print the value of my variable and it's working fine i even tried it with normal `Text` widget and the text updates correctly, but when using any widget from t

[2020-09-21 05:18] MahdiPishguy opened #109 "Direction of gradient animation"
my language is RTL and how can i change gradient animation on this sample code:

[code]

my mean is starting animation from right to left

[2020-09-21 16:02] SirusCodes commented on #106
Hey @AadumKhor @hemilpanchiwala @aagarwal1012 today I started to work on it and realized that in each Animation we are passing a list. I thought of keep this as a single text animation. Should I follow the convention or make it a single Text?

[2020-09-21 22:46] awhitford commented on #108
I think this is because internally the `ColorizeAnimatedTextKit` makes a copy of the text, and then uses that.

In the meantime, a simple workaround should be to specify a `key` value for the `ColorizeAnimatedTextKit` widget.  Make it dependent on the text that is changing, like:
[code]
This should force the framework to recreate the widget.

[2020-09-21 23:49] vickyvu0684 opened #110 "How to create animation karaoke lyrics"
Hello everyone,

Can you give me an example of a text effect like in the picture.(animation for karaoke lyrics)
Thanks so much

![E13B3590-0B37-4A65-B671-E8955C8856E4](https://user-images.githubusercontent.com/9211638/93832291-7cae0380-fc9f-11ea-9768-495dfdbb1fd3.png)

[2020-09-22 09:03] hemilpanchiwala commented on #106
@SirusCodes, I think you should proceed with the list as it provides more general use (even satisfying the single Text purpose).

[2020-09-22 09:06] SirusCodes commented on #106
Okk👍 @hemilpanchiwala

[2020-09-26 13:11] SirusCodes commented on #106
Hey I'm having some difficulties to port my [work](https://codepen.io/siruscodes/pen/XWdzoKa) to the text list style can anyone help me?
@hemilpanchiwala @aagarwal1012 @AadumKhor

[2020-10-03 17:31] SirusCodes commented on #100
@AadumKhor @aagarwal1012 @hemilpanchiwala this seems a nice issue to me. I know that many of the animated text widgets might work as expected but we can give devs option if they want to do trial and error? What are your thoughts? I can work on this as a final PR for hacktoberfest.

[2020-10-03 22:59] vickyvu0684 commented on #110
Please help me.

[2020-10-04 03:28] femidof opened #116 "TextLiquidFill RepeatAnimation to infinity & ReverseAnimationAfterAnimationComplete"
Is there a way TextLiquidFill can animate to infinity, or reverse animation after animation complete and continue until infinity? If yes, please help.

[2020-10-04 13:53] AadumKhor commented on #100
@SirusCodes you can start working on this. I think we had someone make a PR for this feature before but that was never completed.

[2020-10-04 13:54] AadumKhor commented on #116
I am afraid both of these are not possible with the current version of the package. Reversing of the Liquid fill animation is something we can consider. Thank you for your suggestion.

[2020-10-04 13:56] SirusCodes commented on #100
@AadumKhor I will start to work on it from Saturday 👍

[2020-10-04 14:00] AadumKhor commented on #110
Since this is not a part of the package I am not sure why this issue was made. Please have a look at `CustomPainter` documentation, more specifically `TextPainter` for some ideas.

[2020-10-04 14:00] #110 closed

[2020-10-04 14:01] AadumKhor commented on #109
@MahdiPishguy current version of the package does not support changing the direction of the animation. We will look into it since this is a good enhancement.

[2020-10-04 14:01] #106 closed

[2020-10-05 05:34] hiwa-jalal commented on #108
sorry for the late response but this fixed it thank you.

[2020-10-05 05:34] #108 closed

[2020-10-06 10:54] SirusCodes commented on #100
@AadumKhor I don't think it would be a good idea as all the animations looks kinda weird😅

[2020-10-06 11:36] AadumKhor commented on #100
@SirusCodes no issue. If possible share some screen recordings so that we have a better idea.

[2020-10-06 11:56] SirusCodes commented on #100
![Animation](https://user-images.githubusercontent.com/50910066/95198468-ec240700-07f8-11eb-812b-a54491b2338e.gif)
This is with Curves.bounceIn...Idk now its looking cool to me😅😅

[2020-10-06 17:30] AadumKhor commented on #100
Looks a bit janky don't you think? I mean if all agree then I have no problems in proceeding.

[2020-10-07 04:26] SirusCodes commented on #100
Ya a bit... @aagarwal1012 @hemilpanchiwala what are your views?

[2020-10-08 14:59] leidig54 opened #117 "Crash using Colorize on Flutter Web."
**Describe the bug**

════════ Exception caught by rendering library ═════════════════════════════════
Assertion failed:  (org-dartlang-sdk:///flutter_web_sdk/lib/_engine/engine/text/paragraph.dart:795:13))
color == null || foreground == null
"Cannot provide both a color and a foreground\nThe color argument is just a shorthand for \"foreground: new Paint()..color = color\"."

The relevant error-ca

[2020-10-08 20:54] awhitford commented on #117
Do you have sample code to reproduce this?  And a stack trace?

[2020-10-10 05:56] eunjin3786 opened #118 "Emoji make exception in TyperAnimatedTextKit"
════════ Exception caught by rendering library ═════════════════════════════════════════════════════
'dart:ui/painting.dart': Failed assertion: line 3968: '<optimized out>': is not true.

[2020-10-10 07:31] awhitford commented on #118
Can you please provide some sample code and a stack trace?  The above assertion is not very much to go on.

[2020-10-10 07:34] awhitford commented on #104
Please try adding a `key` that changes based on the String -- see [my suggestion for #108](https://github.com/aagarwal1012/Animated-Text-Kit/issues/108#issuecomment-696418664).

[2020-10-10 07:58] awhitford commented on #98
I think you are right in that the `Timer`'s lifecycle does not seem to be _properly_ managed.

At the very least, I think calling `_timer?.cancel();` in the `dispose()` method is worth adding.  Not totally sure if that is all, though -- I'd like to see some kind of assertion before creating a new `_timer` that there isn't already an active timer (otherwise it will leak).

[2020-10-10 11:50] eunjin3786 commented on #118
@awhitford

Thankyou 👍

[code]

════════ Exception caught by rendering library ═════════════════════════════════════════════════════
'dart:ui/painting.dart': Failed assertion: line 3968: '<optimized out>': is not true.
The relevant error-causing widget was:
  TyperAnimatedTextKit file:///Users/kakao/Documents/onion_family/lib/widget/main/settings_widget.dart:14:18
The following RenderObject was be

[2020-10-11 04:42] SirusCodes opened #119 "Can use SingleTickerProviderStateMixin"
We can use SingleTickerProviderStateMixin in almost all of animations.

**Current implementation**
We are calling setting `_controller` and `Animation` each time
[code]

**Better implementation**
We set `_controller` and `Animation` in `initState` an call forward each time
[code]

This will reduce the calls which we are making in each cycle. Using SingleTickerProviderStateMixin is more efficient t

[2020-10-11 07:38] awhitford commented on #119
Are you willing to submit a PR?

[2020-10-11 08:02] SirusCodes commented on #119
Yup I can do that

[2020-10-11 14:15] SirusCodes commented on #119
Hey I have made the changes but I'm getting `AnimationController methods should not be used after calling dispose.` error when I'm changing the animation view. All the disposes are in proper position.

[2020-10-11 17:43] awhitford commented on #119
@SirusCodes Which class?  Looking at Fade, as an example, `_controller?.dispose();` is only called during the `dispose` method, so that seems fine.  A stack trace may be helpful.

[2020-10-11 17:50] SirusCodes commented on #119
Sorry I should have provided this earlier only.
[code]

[2020-10-11 18:15] awhitford commented on #118
This looks like the offending widget:
https://github.com/aagarwal1012/Animated-Text-Kit/blob/fa78a437ff8b3b0aa7febc5202c709330c4f23bf/lib/src/typer.dart#L145-L149

I see this message:
[code]
This looks like a known issue: https://github.com/dart-lang/sdk/issues/35798

This reminds me of the [Flutter 1.22 announcement](https://medium.com/flutter/announcing-flutter-1-22-44f146009e5f) where they ment

[2020-10-11 19:10] awhitford commented on #118
Note that the Typewriter has the same flaw and will also need to be fixed, but let's wait for the Typer fix to be reviewed first.

[2020-10-11 19:25] awhitford commented on #119
Since I do not see your changes, it is challenging to imagine that the issue may be.

Maybe you can debug it by putting a breakpoint on `AnimationController.dispose` and seeing when it is called.  It should only be called when the widget is being disposed, but maybe there is something unexpected?

Also, I assume that the `AnimationController` is created in the `State.initState` method and then dis

[2020-10-11 19:37] SirusCodes commented on #119
Yes I have properly initialised and disposed AnimationController. Will try to add breakpoints and figure out what is the problem tomorrow 👍

[2020-10-11 19:40] SirusCodes commented on #119
I guess I got the issue.
When I change the screen the AnimationController is disposed but Timer is waiting to complete and when it completes it calls the _next function which calls _controller.forward().

I need to stop timer or something else when dispose is called.

[2020-10-11 20:31] awhitford commented on #119
I just submitted PR #121 for Fade, based on issue #98.  It sounds like you have a similar issue.

[2020-10-11 20:41] SirusCodes commented on #119
Yes, timer in all the animations are not handled properly...it would be great if you can do that and after your PR is merge I would create my PR.

[2020-10-12 04:25] #98 closed

[2020-10-12 04:25] #118 closed

[2020-10-12 07:07] awhitford commented on #118
PR #122 addresses Typewriter.

[2020-10-12 10:01] SirusCodes commented on #119
You can expect a PR by tonight 👍

[2020-10-14 05:13] aagarwal1012 commented on #119
#124 fixes this issue!

[2020-10-14 05:13] #119 closed

[2020-10-14 07:57] SirusCodes commented on #117
It is because of this 2 lines, I guess it is a issue with flutter web
![image](https://user-images.githubusercontent.com/50910066/95960047-e3e35180-0e20-11eb-8686-272fc0edaf72.png)

[2020-10-14 13:11] hashem78 opened #125 "WavyAnimatedTextKit crash on page load."
**Description**
Crash on page load with NestedScrollView and SliverAppBar
**To Reproduce**
Steps to reproduce the behavior:
--> See error

**Expected behavior**
Animation should start without a crash but instead crashes and then starts.

flutter doctor -v

**[✓] Flutter (Channel beta, 1.22.0-13.0.pre.1, on Linux, locale en_US.UTF-8)
    • Flutter version 1.22.0-13.0.pre.1 at /home/mythi/snap/flutt

[2020-10-14 17:43] awhitford commented on #125
Looks like `percent` or `txtInMoInd ` is _null_?  Why are these `static`?

https://github.com/aagarwal1012/Animated-Text-Kit/blob/77152a75270a8a9637fc9a989e66cbbb8cc95159/lib/src/wavy.dart#L234-L238

[2020-10-15 18:43] hashem78 commented on #125
Not sure, I spent an hour looking into it yesterday but it totally went over my head that the mentioned method in the error is operator-.

You got any idea what these values represent? I could be using some kind of widget that's messing with the values or something of sort.

[2020-10-16 05:08] SirusCodes commented on #125
It was set static because every time `shouldRepaint` was called and `percent` is set in `paint` I'm working it...

[2020-10-16 05:43] SirusCodes commented on #125
@awhitford I have created a PR #126 by removing the use of static fields this should solve the problem I guess

[2020-10-17 16:25] #125 closed

[2020-10-22 20:47] Wijt commented on #117
Same issue 😞 on flutter web.

[2020-10-22 20:57] aagarwal1012 opened #128 "[feat] Increase test coverage"
Current Codecov test coverage is `69%`, our goal is to increase this coverage to more than 90%. We can take reference from `flutter_spinkit` tests -- https://github.com/jogboms/flutter_spinkit/tree/master/test.

[2020-10-22 20:58] aagarwal1012 commented on #128
@awhitford @SirusCodes @hemilpanchiwala any suggestion on this one?

[2020-10-22 21:06] SirusCodes commented on #128
TBH I'm not really good in testing 😅 but I would try to look into it and add something to the repo👍

[2020-10-23 02:46] awhitford opened #129 "GlobalKey _textKey -- should not be a global"
This looks wrong:
https://github.com/aagarwal1012/Animated-Text-Kit/blob/d4c3346f9c6f1bca6262e1e8823b9927105c92b1/lib/src/text_liquid_fill.dart#L4

Note that it is being set by `_TextLiquidFillState.initState`:
https://github.com/aagarwal1012/Animated-Text-Kit/blob/d4c3346f9c6f1bca6262e1e8823b9927105c92b1/lib/src/text_liquid_fill.dart#L78-L82

I'm guessing that `_textKey` should be a member of the

[2020-10-23 09:06] awhitford commented on #128
This is a good question.  I started poking around and ended up submitting a couple of pull requests because I found unused code and other opportunities for improvement.  However, this lead me to be suspicious of the code coverage statistic.

This [report](https://codecov.io/gh/aagarwal1012/Animated-Text-Kit/compare/d4c3346f9c6f1bca6262e1e8823b9927105c92b1...f4291ea0e6bdf42e5713fcd750517af6d1802ad6

[2020-10-23 09:59] awhitford commented on #128
I recorded an issue on _CodeCov's Community Support_:
* https://community.codecov.io/t/assertions-not-being-counted-as-covered-in-dart/2204

[2020-10-23 10:38] #129 closed

[2020-10-23 19:03] awhitford commented on #128
From SpinKit, it looks like maybe [verifyTickersWereDisposed](https://api.flutter.dev/flutter/flutter_test/WidgetTester/verifyTickersWereDisposed.html) should be called to validate dispose/cleanup.

And likely using [pumpAndSettle](https://api.flutter.dev/flutter/flutter_test/WidgetTester/pumpAndSettle.html) with a duration will be necessary to allow the animations to completely finish.  I like th

[2020-10-23 20:02] awhitford commented on #128
I experimented with changing Smoke Test to be something like this:
[code]

I think the `pumpAndSettle` helps exercise the animations.  However, animations can't be forever/repeating.  I am stuck trying to get past `TextLiquidFill`:

[code]

As far as I can tell, `TextLiquidFill` is not _infinite_, so I'm puzzled as to why `pumpAndSettle timed out`.

[2020-10-23 20:40] awhitford commented on #128
🤓 So `TextLiquidFill` is _infinite_ because `_waveController` is repeating.  And I think that is on purpose to get the wavy water effect. It seems that the _failing test_ was indicating a bug. 🐛

[2020-10-23 21:27] awhitford commented on #128
There are a couple of tweaks (like PR #133), but basically changing `smoke_test` to this:
[code]
will **raise test coverage by 10.6%**.

Before:
![image](https://user-images.githubusercontent.com/123887/97054922-978fc400-153a-11eb-8b15-8d75601aef2a.png)
After:
![image](https://user-images.githubusercontent.com/123887/97055149-0f5dee80-153b-11eb-8529-a7ffd47c7171.png)

**Wavy** in particular looks

[2020-10-23 21:54] aagarwal1012 commented on #128
A lot of comments for the follow-up but I think most of the @awhitford 's comments self answers themselves. Great investigation, waiting for your Pull Request.

[2020-10-23 22:08] awhitford commented on #128
PR #135 makes the above mentioned change.  Note that this new test code actually highlighted a couple of bugs that were fixed by #133:
* TextLiquidFill's wave was repeating endlessly -- now that is fixed -- not sure if this was draining the battery
* Colorized has a timer that was not being properly canceled -- now that is fixed, just like the other classes

[2020-10-24 18:47] #57 closed

[2020-10-24 18:48] #55 closed

[2020-10-25 18:37] awhitford commented on #117
According to the [TextStyle.merge](https://api.flutter.dev/flutter/painting/TextStyle/merge.html):

So the code specifies a `foreground` which should take preference.  We can't fix it be adding `color: null` to the `merge` -- you can't null out a value with underlying `copyWith` logic.

I think this may be the underlying Flutter issue, and it appears fixed:  https://github.com/flutter/flutter/issu

[2020-10-27 04:24] MayurMadhwani opened #140 "Build error: 'Characters' isn't a type"
Error: 'Characters' isn't a type.
  final _textCharacters = <Characters>[];

Error: The getter 'characters' isn't defined for the class 'String'.
Try correcting the name to the name of an existing getter, or defining a getter or field named 'characters'.
      _textCharacters.add(text.characters);
![error](https://user-images.githubusercontent.com/73183917/97256936-695ffc00-183a-11eb-9bba-253e7abc

[2020-10-27 04:42] awhitford commented on #140
[Characters](https://pub.dev/documentation/characters/latest/characters/Characters-class.html) is type from the [characters](https://pub.dev/packages/characters) package.  The `characters` getter is provided by the [StringCharacters](https://pub.dev/documentation/characters/latest/characters/StringCharacters.html) extension.

Please try:
[code]

If that doesn't resolve it, what version of Flutter

[2020-10-28 10:00] Eshetiegashaw opened #141 "Error: 'Characters' isn't a type"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Flutter:**
 - version
 - channel

**

[2020-10-28 10:28] aagarwal1012 commented on #141
@awhitford please check this issue.

[2020-10-28 12:03] awhitford commented on #141
@Eshetiegashaw Please do a `flutter clean` and `flutter pub get` and if the problem persists, please provide `flutter doctor -v` output.

This issue is a duplicate of #140, so I'm going to close this duplicate and track the issue under #140.

[2020-11-01 18:15] awhitford commented on #105
I believe that PR #143 has resolved this.

[2020-11-01 19:47] awhitford commented on #105
Please try the **2.5.2** release. Thanks!

[2020-11-01 19:47] #105 closed

[2020-11-01 21:30] peterkapena commented on #105
All good, I haven't seen it happening again for months now

[2020-11-05 12:43] aagarwal1012 opened #147 "[docs] Improve documentation and add dartdoc"
- [x] Check/add/update documentation for all public classes and method in the package. Documentation issue address by the Flutter community are mentioned below:
[code]

- [ ] Add [dartdoc](https://pub.dev/packages/dartdoc) and host the HTML documentation on github pages.

cc: @awhitford

[2020-11-05 15:31] aagarwal1012 commented on #147
@awhitford, Flutter team uses this tool to score the package for the flutter favorite program -- https://github.com/kf6gpe/dart-flutter-favorite.

[2020-11-05 15:42] aagarwal1012 commented on #62
Closing this issue due to inactivity, feel free to reopen it in case needed.

[2020-11-05 15:42] #62 closed

[2020-11-05 15:43] aagarwal1012 commented on #31
Closing this issue due to inactivity, feel free to reopen it in case needed.

[2020-11-05 15:43] #31 closed

[2020-11-05 15:43] aagarwal1012 commented on #61
Closing this issue due to inactivity, feel free to reopen it in case needed.

[2020-11-05 15:43] #61 closed

[2020-11-05 15:44] aagarwal1012 commented on #64
Closing this issue due to inactivity, feel free to reopen it in case needed.

[2020-11-05 15:44] #64 closed

[2020-11-05 15:45] aagarwal1012 commented on #73
@payam-zahedi, please confirm if you are still facing this issue.
Otherwise, I am closing this issue due to inactivity, feel free to reopen it in case needed.

[2020-11-05 15:45] #73 closed

[2020-11-05 15:47] aagarwal1012 commented on #75
@CesarPrz, can you make a PR for this change?

[2020-11-05 15:50] aagarwal1012 commented on #102
Closing this issue due to inactivity, feel free to reopen it in case needed.

[2020-11-05 15:50] #102 closed

[2020-11-05 15:52] DR-CesarPrz commented on #75
Sure thing, i'll probably push it by the end of the weekend.

[2020-11-05 15:53] CesarPrz commented on #75
Sure thing, i'm busy right now but i'll do it this weekend.

[2020-11-05 15:54] aagarwal1012 commented on #75
@CesarPrz, thanks for the quick response.

[2020-11-05 15:54] aagarwal1012 commented on #92
Closing this issue due to inactivity, feel free to reopen it in case needed.

[2020-11-05 15:54] #92 closed

[2020-11-05 15:55] aagarwal1012 commented on #104
Closing this issue due to inactivity, feel free to reopen it in case needed.

[2020-11-05 15:55] #104 closed

[2020-11-05 15:55] aagarwal1012 commented on #117
Closing this issue due to inactivity, feel free to reopen it in case needed.

[2020-11-05 15:55] #117 closed

[2020-11-05 15:56] aagarwal1012 commented on #101
Closing this issue due to inactivity, feel free to reopen it in case needed.

[2020-11-05 15:56] #101 closed

[2020-11-05 15:59] aagarwal1012 commented on #140
Closing this issue due to inactivity, feel free to reopen it in case needed.

[2020-11-05 15:59] #140 closed

[2020-11-06 02:48] awhitford commented on #147
Note that documentation for `createState` methods should not be necessary -- looks like a 🐞  https://github.com/kf6gpe/dart-flutter-favorite/issues/11

Is hosting `dartdoc` on github pages necessary when `pub.dev` hosts the _API reference_?  Is any other Flutter package doing that?

[2020-11-06 10:59] aagarwal1012 commented on #147
@awhitford, hosting `dartdoc` is just a suggestion for us to make better documentation, it is not necessary for now.

[2020-11-06 11:05] awhitford commented on #147
Generating `dartdoc` locally is trivial, and you get the API on `pub.dev` from a `publish`, so I do not recommend adding the complexity of `gh-pages` because I expect people will simply go to `pub.dev` (or rely on their IDE).

[2020-11-06 20:57] aagarwal1012 commented on #147
I agree with your argument -- let's close this issue for now.

[2020-11-06 20:57] #147 closed

[2020-11-18 07:57] namanawasthi opened #151 "Error: 'Characters' isn't a type. final _textCharacters = <Characters>[];"
**Description**
I am getting below error due to which i am unable to build my gradle. Seems there is some issue with the package because on removing the Animated text kit package gradle is build successfully.

Error:-
Compiler message:
/C:/src/flutter/.pub-cache/hosted/pub.dartlang.org/animated_text_kit-2.5.4/lib/src/colorize.dart:109:28: Error: 'Characters' isn't a type.
  final _textCharacters =

[2020-11-18 08:09] aagarwal1012 commented on #151
Duplicate of #140

[2020-11-18 08:09] #151 closed

[2020-11-18 08:36] aagarwal1012 commented on #151
@namanawasthi, please check the solution mentioned in #140 to solve your issue.

[2020-11-18 12:20] namanawasthi commented on #140
The Above provided solution "flutter clean" and "flutter run" is not working in my case for more details please check issue #151 once.

[2020-11-19 12:29] naseebbajracharya commented on #141
@awhitford @aagarwal1012 `flutter clean` and `flutter pub get` didn't work at all, I'm still getting Characters isn't a type error. So, here's my `flutter doctor -v` output
![flutter-dr](https://user-images.githubusercontent.com/34349150/99666347-ff322400-2a92-11eb-8030-6599399cc8cb.JPG)

[2020-11-19 17:17] awhitford commented on #141
It appears that this may be a known issue:  https://github.com/flutter/flutter/issues/59645#issuecomment-645240371
This comment suggests deleting the `.dart_tool` directory and then running `flutter run`.
Rather than delete the directory, I would simply rename the file inside, like:
[code]
And then run `flutter run`.  This should rebuild that `package_config.json` file, and I'd be curious to see t

[2020-11-19 17:22] awhitford commented on #151
It looks like we are tracking this under #141 now.

[2020-11-19 17:23] awhitford commented on #140
Please refer to #141.

[2020-11-20 05:03] naseebbajracharya commented on #141
@awhitford yeah, it worked after upgrading Flutter to the latest version, but now it shows this warning note even if the application runs.

Note: C:\src\flutter\.pub-cache\hosted\pub.dartlang.org\connectivity-0.4.9+3\android\src\main\java\io\flutter\plugins\connectivity\ConnectivityBroadcastReceiver.java uses or overrides a deprecated API.
Note: Recompile with -Xlint: deprecation for details.
Note

[2020-11-20 06:28] SirusCodes commented on #141
This won't cause any issues, everything will work fine👍 and this is because of the connectivity package...you can upgrade that to the latest version.

[2020-11-20 16:49] awhitford commented on #141
@naseebbajracharya You should also upgrade your [connectivity](https://pub.dev/packages/connectivity/) dependency since the latest version is [2.0.2](https://pub.dev/packages/connectivity/changelog).  I'll guess that those deprecation warnings will disappear. Regardless, as @SirusCodes says, those warnings are not related to this package.

I'm glad to hear the `characters` issue has been resolved.

[2020-11-20 16:49] #141 closed

[2020-11-25 16:12] YaCubeK opened #152 "Different colors for letters in text"
I wanted to make my letters in text when I use TypewriterAnimatedTextKit with different colors, but dont know how to do it. Usually I used RichText to achieve this effect, but with your package I cannot find property to define colors for letters because there was used List<String> text and I cannot asign RichText with TextSpan in it to my page. If it is possible can you implement this feature, als

[2020-11-25 18:02] awhitford commented on #152
This is definitely not possible with the current code.  As you said, a text string is supplied -- not a child widget.

Rather than hard-coding the _String->Text_, maybe we could generalize that to be _String->Widget_ -- then you could supply your own function to do whatever you want...  I'd need to double check the code to see if its truly that easy.

[2020-11-26 10:17] YaCubeK commented on #152
Ok, sir. Thank you for your reply, I will wait for your response.

[2020-11-26 19:59] awhitford opened #153 "AlignmentGeometry is unused"
I noticed that many classes have a property like this:

https://github.com/aagarwal1012/Animated-Text-Kit/blob/002484cb5aa3a50d3cb378e937aece2e0497beff/lib/src/typer.dart#L45-L48

However, it is not used.

As a result, I recommend removing it to avoid confusion.

This impacts:
* Colorize
* Fade
* Scale
* Typer
* Typerwriter

[2020-11-26 20:01] awhitford commented on #153
@aagarwal1012 Can we get away with removing this all at once?  Or should we leave a `@deprecated` parameter for a release to warn people?  (Since it was not used, I'm leaning towards just removing it altogether.)

[2020-11-26 20:07] aagarwal1012 commented on #153
@awhitford, let's remove this unused parameter and create a new release.

[2020-11-26 20:08] awhitford commented on #153
This parameter is used only by `RotateAnimatedTextKit`.  I'll submit a PR in a second.

[2020-11-26 20:26] #153 closed

[2020-11-26 22:42] awhitford opened #156 "Confirm Fade Intervals"
Consider this code:
https://github.com/aagarwal1012/Animated-Text-Kit/blob/498be509695cf37d9108836b52d65572e9d960b3/lib/src/fade.dart#L173-L185

@aagarwal1012 Can you please confirm that the 0.8 (line 183) is _intentionally_ not 0.5 (like line 176)?

(It is just asymmetrical to me and makes me wonder if this is a typo or intentional.) 🤔

[2020-11-27 11:38] aagarwal1012 commented on #156
@awhitford, I am not sure of this one, probably I have added this one for the sake smoothness of the animation, but I think you are right, it should be symmetrical.

[2020-11-27 13:48] awhitford commented on #156
I experimented with adjusting these values, but I really couldn't notice a difference.  It may be a very subtle "bug."

[2020-11-27 22:04] awhitford commented on #152
This request inspired PR #157.  I ended up refactoring the library to make adding additional animations easier.  This PR still needs to be approved, merged, and released.  However, with it, you can achieve your animation goal...

First, create a unique Animated Text class which contains your logic.  You can clone `TypewriterAnimatedText` and tweak it, like:
[code]
(Extending `TypewriterAnimatedTex

[2020-11-28 12:57] aagarwal1012 commented on #128
#157 closes this issue. Thanks, @awhitford 👍

[2020-11-28 12:57] #128 closed

[2020-11-28 13:13] YaCubeK commented on #152
When I tried to copy first code with the ColoredTypewriterAnimatedText by creating a new file, it showed an error that AnimatedText class is not exist. Am I putting first code right? What I tried is just create file in my project and put it there. What I should do?

[2020-11-28 19:03] awhitford commented on #152
The PR was merged 🎉 , but not yet released.

[2020-11-29 10:16] YaCubeK commented on #152
Thanks lot!

[2020-11-30 00:13] vision-interactive opened #163 "Delay animation start"
**Is your feature request related to a problem? Please describe.**
I have a Row of many Animated Texts that should appear as a phrase, each one with his own effect, but making it delayed present problems in all workarounds i have tried.

**Describe the solution you'd like**
the perfect solution would be to have a delay Duration in the Text animation Widgets, will not only fill this need, but also

[2020-11-30 02:19] awhitford commented on #163
Are you trying to chain animations so that animation1 plays, then animation2 plays, etc.?

[2020-11-30 03:23] vision-interactive commented on #163
yes!, that is the idea, but i need to restart that chain animation also, right now is working with a futurebuilder and delayed future, but for the restart i have to rebuild the widget to empty container and then again to the Animated Text

[2020-12-03 13:33] ali-tafakkori commented on #109
+1

[2020-12-05 21:53] awhitford commented on #163
Well, the good news is that my recent refactoring has made supporting this much easier.  Consider this sample code:
[code]

It will do a _Fade Animation_, then a _Scale Animation_.  Controls like _repeating_ and `onTap` are at the `AnimatedTextKit`.

This capability is available in the `master`, but I don't think it has been released yet.

[2020-12-06 00:18] vision-interactive commented on #163
That is a good new!, i hope it releases soon, but im wondering if the example work as a row / phrase, like showing 'Fade First Then Scale' or replacement, like the actual animations but with a different show animation for each, so you will only read 'Fade First' or 'Then Scale' at a given time. my intended behavior for this is the first one.

[2020-12-06 02:15] awhitford commented on #163
Have you considered one of:
1. Use the `AnimatedTextKit` trick with a cheap animation with empty text.  Specify the delay duration, and you should be able to nicely chain a pause before your next animation.
2. Use the `onFinished` callback to expose the next animation.  One trick might be to use an [IndexedStack](https://api.flutter.dev/flutter/widgets/IndexedStack-class.html); when animation1 fin

[2020-12-06 08:22] #109 closed

[2020-12-07 11:18] #75 closed

[2020-12-07 12:59] awhitford commented on #152
Version 3 has been released.

[2020-12-07 12:59] #152 closed

[2020-12-07 13:06] awhitford commented on #116
@femidof What do you mean _animate to infinity_?  Do you want to watch it fill up and then down, and then repeat?

Note that there is now a `loadUntil` property so that you can fill to 50%, for example, so that the wave will be continuous.

[2020-12-09 05:04] vision-interactive commented on #163
In My case i've solved after the first post using a OpacityAnimatedWidget with the proper delay for each of the words, the onFinished won´t work if the animation is on repeat, and the IndexedStack i think it should be one for each of the words, so the OpacityAnimatedWidget is still a better option there. I just proposed it because the delay of the animation its already a option in lot of animated

[2020-12-09 08:49] awhitford commented on #163
I think this is a compelling argument, but I don't see a `delay` parameter in [AnimationController](https://api.flutter.dev/flutter/animation/AnimationController-class.html).  What are you referring to?

[2020-12-09 11:33] sahmadreza opened #168 "Error in first run after upgrade to v3.0.0"
Hi,
After updating the plugin version from 2.5.4 to **3.0.0**, an error will be displayed below the first run.

But after a few seconds the animation starts and works

I did not change the code and just updated the plugin and after the update this problem occurred

My Code:
[code]
**Expected behavior**
[code]
**(package:animated_text_kit/src/fade.dart:45:24) :**
[code]
**Screenshots**
https://i.im

[2020-12-09 17:59] kw2019ltd commented on #168
same issue

[2020-12-09 19:01] awhitford commented on #168
I'm sorry to see this.  Honestly, this should be _impossible_ because `animatedBuilder` is called _after_ `initAnimation` which initializes `_fadeIn`.

**I am unable to reproduce this problem.**  Are you able to reproduce this with the `example` application?  It looks like you are using Windows for an Android target?  What Android device target are you using?

@kw2019ltd Are you using Windows for

[2020-12-10 10:07] sahmadreza commented on #168
Yes, I use windows 10

Device tested:

- Samsung c9000 android Api 26
- Android virtual device with Api 22 (Android studio AVD)

[2020-12-10 10:32] aagarwal1012 commented on #168
@sahmadreza, did you try `flutter clean` and rebuilding the app?

[2020-12-10 11:52] sahmadreza commented on #168
Yes , I tried again and the error is still there

[code]

Is there a problem with the dart version?

[2020-12-10 17:33] awhitford commented on #168
@sahmadreza Can you please confirm:
* Does this issue appear with the `example` app?
* Does this issue appear while testing on a physical device?

I have a hypothesis that this is related to this line:
https://github.com/aagarwal1012/Animated-Text-Kit/blob/ef52c3f7f3447d88cc29706e5c8dbc06ac499c4c/lib/src/animated_text.dart#L220

However, I am not experiencing an issue with Android or the iOS Simul

[2020-12-10 18:44] awhitford commented on #168
I submitted PR #169 that refactors the initialization sequence.  I highly suspect that the PR addresses this issue.  If it does not, then I suspect a Flutter bug with Windows.

[2020-12-11 10:56] awhitford commented on #168
Version **3.0.1** has been released:  https://pub.dev/packages/animated_text_kit/changelog 🎉
Please confirm if this resolves your problem with Windows.

[2020-12-12 06:33] alittlebitofit commented on #168
Hi, I get the same error when I use `TypewriterAnimatedText`.
I am using:
* Ubuntu 20.10 LTS
* Samsung Galaxy M31, API level 29.
![animated_text_kit_AS](https://user-images.githubusercontent.com/42311431/101977226-fee00f80-3c71-11eb-9647-3fe0dce59675.png)

[2020-12-12 07:48] kw2019ltd commented on #168
working fine now no issue thanks

[2020-12-12 07:50] awhitford commented on #168
@alittlebitofit Thanks for the feedback.  So this impacts Windows _AND_ Linux...  Can you please confirm if you can recreate this issue with the `example` app?

[2020-12-12 07:57] awhitford commented on #168
@kw2019ltd OK, excellent, good news! 🎉

[2020-12-12 11:01] AlienKevin commented on #168
I got the same error with `TypewriterAnimatedTextKit` using version **3.0.1**.

My platform:
* MacOS Big Sur
* iOS Simulator iPhone 12 Pro

Error message:
[code]

[2020-12-12 17:17] awhitford commented on #168
@AlienKevin Are you able to reproduce this issue with the `example` app?

I am unable to reproduce this issue.  I maintain that it _should be impossible_ because `build` should not be called before `initState`, and so the `initAnimation` will happen before `animatedBuild`.  However, I believe folks are running into this -- I just can't explain it. 😕

[2020-12-12 17:24] AnirudhKK commented on #168
Having the same issue

`TypewriterAnimatedTextKit(
                  text: ['Animated Text'],
                  textStyle: TextStyle(
                    fontSize: 45.0,
                    fontWeight: FontWeight.w900,
                  ),
                ),`
gives
`======== Exception caught by widgets library =======================================================
The getter 'value' was called on

[2020-12-12 17:27] awhitford commented on #168
@AnirudhKK Can you share your environment?  (OS, Flutter channel, Device Target?) Also, are you able to reproduce this with the `example` app?

[2020-12-12 17:33] AnirudhKK commented on #168
Flutter 1.22.4 • channel stable • Android • Huawei JKM LX1 . Will let you know if I can reproduce it on example app.

[2020-12-12 17:36] awhitford commented on #168
@AnirudhKK Are you using a Mac or Windows or Linux?

[2020-12-12 17:40] AnirudhKK commented on #168
Windows 10 Pro 20H2

[2020-12-12 17:46] AnirudhKK commented on #168
@awhitford again got the same error on Flutter Counter App

`The getter 'value' was called on null.
Receiver: null
Tried calling: value`

https://gist.github.com/AnirudhKK/3d932bce33ee7e672907068d0e7ba23d

[2020-12-12 20:13] awhitford commented on #168
@AnirudhKK I appreciate the feedback.  I used the same code from your gist, but am **still unable to reproduce** or even logically explain how this could be possible.

Since you can recreate it...  Can you try adding a breakpoint on lines 40 and 65:
https://github.com/aagarwal1012/Animated-Text-Kit/blob/1a1f7ad39dd842509dd2d6d49380df7c915dc4dd/lib/src/typewriter.dart#L40

https://github.com/aagarw

[2020-12-13 00:12] femidof commented on #116
Oh nice, this is handy but has it name sounds, more likely a loading property. What I wanted to achieve at the time of creating this issue was to be able to reverse the animation and also set the duration of the animation to infinity as long has it's currently in state(i.e current on the screen)

[2020-12-13 04:53] ThinkDigitalSoftware commented on #168
I'm getting this error as well with  `animated_text_kit: ^3.0.1`. I only pasted your example in a Center in a scaffold.

[code]

Flutter 1.25.0-9.0.pre.42 • channel master • https://github.com/flutter/flutter.git
Framework • revision a76bb1a08e (22 hours ago) • 2020-12-12 00:17:51 -0700
Engine • revision 4797b06652
Tools • Dart 2.12.0 (build 2.12.0-141.0.dev)

Running on macOS as a target device

[2020-12-13 05:03] ThinkDigitalSoftware commented on #168
@awhitford,  Adding a `UniqueKey()` to my scaffold completely eliminated the problem. As I was hot restarting, each time, more and more errors would print out, taking longer and longer for the animation to start. Now this isn't an issue

[2020-12-13 05:31] ThinkDigitalSoftware opened #174 "[Proposal] Add onFinishedBeforePause Parameter"
**Describe the bug**
I'm running an animation after another one ends, but I want it to start immediately after the last animation is complete. I have a 1 second pause time and that runs before it calls my function and I can't remove that pause.

**Expected behavior**
The function is called immediately after the last animation is complete, rather than animate > pause > animate > pause >onFinished.

[2020-12-13 06:06] ThinkDigitalSoftware opened #175 "Allow RotateAnimatedTextKit to stop on last Text"
I want to be able to let it stop rotating through words and stop on the last one
 animated_text_kit: ^3.0.1

Alternative considered:
Adding an `animateOutOnEnd` parameter

[2020-12-13 06:11] kw2019ltd commented on #168
hi sorry still getting same issue

I/flutter (11202): The getter 'value' was called on null.
I/flutter (11202): Receiver: null
I/flutter (11202): Tried calling: value
I/flutter (11202):
I/flutter (11202): The relevant error-causing widget was:
I/flutter (11202):   FadeAnimatedTextKit-[<'13-12-20'>]
I/flutter (11202):   file:///C:/Users/kotai/AndroidStudioProjects/plants_price_flutter_app/lib/widge

[2020-12-13 06:12] ThinkDigitalSoftware commented on #168
@kw2019ltd  did you hot **restart** already?

[2020-12-13 06:23] ThinkDigitalSoftware commented on #174
I believe this is the `onNextBeforePause` method.

[2020-12-13 07:54] awhitford commented on #174
Why don't you simply add a pause to your `onFinished` callback?  Like use [Future.delayed](https://api.dart.dev/stable/2.10.4/dart-async/Future/Future.delayed.html) to pause then trigger [addPostFrameCallback](https://api.flutter.dev/flutter/scheduler/SchedulerBinding/addPostFrameCallback.html)?

[2020-12-13 08:14] alittlebitofit commented on #168
@awhitford Thanks for the response.

`example` app works without any side-effect at all.

Ok, I'll share the source code: https://pastebin.com/MaUcqn0B

And this is the error output:  https://pastebin.com/zMYwDfjb

[2020-12-13 08:24] ThinkDigitalSoftware commented on #174
Because on finished runs too late. For example, with the typewriter, I want to trigger the onFinished as in the Frame that follows the last letter, not the last letter, plus the pause, then the onFinished

[2020-12-13 08:29] awhitford commented on #174
Oh, I thought you were saying that you wanted to ADD a pause -- not REMOVE the pause.

[2020-12-13 17:41] awhitford commented on #168
I was finally able to reproduce this issue last night after switching to the dev channel.  I can trigger this issue and clearly see that `animatedBuilder` is running _before_ `initAnimation`, which still does not make sense to me. 😖

[2020-12-13 18:18] ThinkDigitalSoftware commented on #168
Another issue I noticed is that if you did a set state while an animation is running and all the words in the animation receive null values for their fade in, fade out, duration, etc.

[2020-12-13 20:33] ThinkDigitalSoftware commented on #175
I have a project depending on this. Not to put any pressure on you, since you're already so active, but if I can help in any way assist development of this feature, please let me know how to help

[2020-12-14 07:37] awhitford commented on #168
I have distilled the issue down to a leaner reproducible test case, but still cannot explain what is going on.  I may have discovered a Flutter bug, but odds are that I am just not seeing the issue.  I ended up posting the issue on Stack Overflow for feedback: https://stackoverflow.com/questions/65285189/flutter-animatedbuilder-builder-bug

[2020-12-14 07:58] awhitford commented on #175
#168 has been consuming my attention.

[2020-12-14 10:08] AlienKevin commented on #168
## Example app
All animations work seamlessly
## My app
NoSuchMethodError
### Code
P.S. I tried removing my own `AnimationController` but it doesn't help.
[code]

[2020-12-14 11:34] awhitford commented on #168
**Update**:  I now understand what is happening. 🎉
Unfortunately, it is actually a non-trivial design flaw.  So now I need to refactor to fix it properly, and I'm experimenting with a few options.

[2020-12-14 19:35] ThinkDigitalSoftware commented on #174
This is a better idea. and yes, it would work for me

[2020-12-14 19:35] ThinkDigitalSoftware commented on #168
What's the basic issue? Maybe I know a good workaround to save some work?

[2020-12-14 21:30] awhitford commented on #168
Thank you @ThinkDigitalSoftware for the offer.  My biggest issue was that I was unable to reproduce this, but I knew it was _real_ because so many complained.  I now can reliably recreate the bug.  In fact, it's so easy now that I'm astonished I didn't expose this issue before.  (Testing definitely needs to be tweaked.)

See the [SO article](https://stackoverflow.com/questions/65285189/flutter-ani

[2020-12-14 21:43] ThinkDigitalSoftware commented on #168
You should look into using keys to maintain state. Adding them in the right place helps widgets identify their states and keeps them from rebuilding from scratch

[2020-12-14 22:04] awhitford commented on #168
I did some experimentation with adding Keys in the beginning, but now that I understand the problem, it won't solve this particular problem.  I need to segregate the State so that it gets maintained.

[2020-12-15 08:15] awhitford commented on #168
**Update**:  PR #176 fixes this issue. 🎉 🎉 🎉
In the end, I figured out a _super simple solution_ that did not require modifying `AnimatedText` or any of its subclasses.

I updated the `example` app to show a _Tap Count_, which was a simple example of calling `setState` during an animation that triggers the widget rebuild and exposes this bug.  Before the `AnimatedTextKit` fix, I am able to reprodu

[2020-12-15 17:41] #168 closed

[2020-12-15 17:54] awhitford commented on #168
**Version 3.0.2 has been released!** - https://pub.dev/packages/animated_text_kit/changelog

[2020-12-15 20:53] awhitford commented on #175
⚠️ You will want to upgrade to version 3.0.2 because it has the fix to #168.

Thanks to the flexibility of _version 3_, you can do this now by creating a custom animation.  Imagine creating a special-case `RotateInAnimatedText` animation which does not _rotate out_, like:
[code]

Then, you would use it like:
[code]

Notice how the last `animatedTexts` is actually a `RotateInAnimatedText` (not a `R

[2020-12-15 21:05] awhitford commented on #174
@ThinkDigitalSoftware Just to be clear...  You want the pause, just NOT for the LAST one, right?  Because you can modify the `pause` to be zero (or near zero).

[2020-12-15 21:55] ThinkDigitalSoftware commented on #174
Correct. I'm trying to do a chain of animations and the widget doesn't allow me to call a callback **immediately** after. There's a delay I can't avoid.

[2020-12-15 21:57] ThinkDigitalSoftware commented on #174
Correct. I'm trying to do a chain of animations and the widget doesn't allow me to call a callback **immediately** after. There's a delay I can't avoid. Imagine if I wanted to type 2 words in in 2 separate widgets and I wanted It to look like 1 long word. It would pause at the end of word 1 and wait before It started. I want to be able to trigger something at the same time as the next letter would

[2020-12-15 22:21] ThinkDigitalSoftware commented on #175
Ah, thank you. I didn't know enough about animations yet to make my own. When I get back to this project, I'll try this out. Thanks!

[2020-12-15 23:42] awhitford commented on #174
Thanks for clarifying...  I am truly wondering whether there should be a final pause.  I mean, _what's the point?_ It reminds me of a `String.join` method -- you don't end up with a _separator_ at the _end_.

Rather than this (currently):
* Animation1 -> pause -> Animation2 -> pause -> Animation 3 -> pause -> onFinished

Wouldn't dropping the final be more _naturally expected_?:
* Animation1 -> pa

[2020-12-16 00:56] ThinkDigitalSoftware commented on #174
Dropping the last pause is perfect.

[2020-12-16 01:52] awhitford opened #179 "RotateAnimatedText has a left bias"
https://github.com/aagarwal1012/Animated-Text-Kit/blob/10aba4d1c800ce27a310a7a06d8533cdb64ebd30/lib/src/rotate.dart#L51-L70

Lines 52 & 53, and 69 & 70 have a _left_ bias that is hard to _undo_.  I really think it makes more sense to change this to be _center_ oriented.

This really rears its head when you set `rotateOut: false` and the `completeText` displays differently.

[2020-12-16 02:08] awhitford commented on #175
I thought about this some more and figured that it would be nice offer an option to disable the _Rotate-Out_, so PR #180 adds an optional `rotateOut` flag.  And the `example` app's _Combination_ example demonstrates using it.

A couple of things worth noting:
1. You need to use the `AnimatedTextKit` strategy to access this option.
2. If you mix-and-match `RotateAnimatedText` with `rotateOut: true`

[2020-12-16 13:08] #175 closed

[2020-12-16 13:08] #179 closed

[2020-12-17 13:17] alittlebitofit commented on #168
yay i updated to 3.0.2 and it works finally! thank you ^^

[2020-12-22 06:38] SirusCodes commented on #174
I think making any changes in `onNextBeforePause` will affect existing users and might might confuse them. Making another method would be a viable option.

[2020-12-22 07:39] awhitford commented on #174
@SirusCodes To be clear, I did not change `onNextBeforePause`, nor am I proposing making such a change.  I am pointing out that using it solves @ThinkDigitalSoftware's delay problem.  The `isLast` flag is the secret-sauce.

[2020-12-22 08:04] SirusCodes commented on #174
Yes but this might force others to add this flag even if they don't have any need for it🤔

[2020-12-22 08:12] awhitford commented on #174
The `isLast` flag is already there.

[2020-12-22 08:18] SirusCodes commented on #174
Oh I thought you are proposing this change sorry 😅 then it's fine.

[2020-12-25 15:24] rafampessoa commented on #163
@vision-interactive  I'm trying to do the same thing that you did. Could you share the code? ty

[2020-12-27 19:27] vision-interactive commented on #163
@rafampessoa
1) Add delayed_display: ^1.1.0 in pubspec.yaml
2) Make a Row for all the texts
3) the Row's children should be something like this
[code]
for each item, calculate the delay based on the text characters or whatever suit you. Alternatively you can check if  OpacityAnimatedWidget (instead of DelayedDisplay) works for your use case

[2021-01-05 17:34] SirusCodes opened #184 "Migrating to null safety"
After null safety coming to beta we should migrate this package to null safety. But how we push new updates to the package after migration?

[2021-01-05 20:01] awhitford commented on #184
All 3 Flutter channels are currently supported: stable, beta, and dev.

If we upgrade it for _null safety_ now (with _stable_ using Dart 2.10.x), we need to upgrade the Dart version and dependencies to their null-safety versions, and then that will cause _divergence_ because new versions of the library will not be available on the stable channel.  (Pub takes into account the environment constraint

[2021-01-05 20:52] aagarwal1012 commented on #184
@awhitford @SirusCodes
We can prepare the package for the `null safety` then we can do a pre-release on `pub.dev`, check this for more instructions, [Publishing prereleases](https://dart.dev/tools/pub/publishing#publishing-prereleases). Many packages are doing the same thing, once the flutter `stable` channel fully supports the null safety, then we can do a stable release.
Many packages are doing

[2021-01-05 20:56] SirusCodes commented on #184
I'm not asking for a stable release for null safety. We can support null safety and just bring that to stable, once null safety comes to stable in flutter.

[2021-01-05 20:57] SirusCodes commented on #184
How they are managing the updates? Because we need to keep up with the updates in both versions.

[2021-01-05 21:00] aagarwal1012 commented on #184
We can maintain a `beta` branch for null-safety related updates in the code.

[2021-01-05 21:04] awhitford commented on #184
It is just potentially double the work...
* We would need to create a _null-safety_ branch, which we would publish the _pre-release_ version from.  That branch can no longer build on _stable_.
* Any changes to _master_ would need to be manually merged into the _null-safety_ branch too.

If we do this _now_, I suggest that we aim to _freeze_ the master branch to minimize the merging headache.  If t

[2021-01-05 21:08] aagarwal1012 commented on #184
I agree with @awhitford, let's hold this thing until the next stable release of flutter.

[2021-01-05 21:14] SirusCodes commented on #184
Yes this is what was concerning me. Let's wait for the 3.3.2021 event maybe that would be the good time to do it.

[2021-01-08 20:55] aagarwal1012 opened #187 "Add more animated texts to the package"
Reference: https://tobiasahlin.com/moving-letters/

[2021-01-08 21:01] SirusCodes commented on #187
This looks cool!!!

[2021-01-09 22:20] EagleSigma opened #188 "Colorize doesn't work on web iOS 14 using flutter 1.25"
**Describe the bug**
The Colorize text works perfectly in desktop browser but turns text to black color and no Colorize effect.

**To Reproduce**
Steps to reproduce the behavior:
Run flutter web build app with any Colorized text on iOS 14. The text turns black (originally white) and no effects.

**Expected behavior**
Colorize works on desktop but not on iOS web browser.  Chrome or Safari.

**Scree

[2021-01-10 17:12] Reprevise opened #189 "Expose `completeText` in premade animations"
**Describe the solution you'd like**
Once an animation has repeated the number of times specified in `totalRepeatCount`, I want to display a constant message.

**Describe alternatives you've considered**
I've tried using the `onFinished` callback, but I can't find a way to manually stop the animation to show the text that I want.

[2021-02-02 13:09] xj42 opened #190 "Add Duration of displayed text after animate in, before animate out"
The total length of the fade in / out anumations is controllable, but the length of time the text is shown before fading out is not configurable. It would be very useful to be able to specify the animate in / out durations seperate from the duration between those animations.

[2021-02-11 06:40] akbarpulatov opened #191 "How to several texts animation can be synchronized?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-02-13 04:51] Sameerkash commented on #187
@aagarwal1012 Can I try working on this?

[2021-02-13 04:55] SirusCodes commented on #187
Go ahead @Sameerkash do let us know which animation you are working on..

[2021-02-13 04:57] Sameerkash commented on #187
Thanks @SirusCodes, I'll try out a few things and drop by again.

[2021-02-15 10:18] aagarwal1012 commented on #191
@akbarpulatov, can you describe your issues in detail?

[2021-02-15 11:19] akbarpulatov commented on #191
For example i have Column of Texts which should start animation synchronously.

[2021-02-17 09:22] SirusCodes commented on #191
This would require use of controller ig @aagarwal1012

[2021-02-17 09:23] SirusCodes commented on #184
Ig this is the time now...
https://medium.com/dartlang/preparing-the-dart-and-flutter-ecosystem-for-null-safety-e550ce72c010

[2021-02-19 04:22] AbhayVAshokan commented on #100
Closing #100 by referring #183

[2021-02-19 04:22] #100 closed

[2021-02-19 12:10] SirusCodes commented on #184
@awhitford @aagarwal1012 What are your views??

[2021-02-19 13:23] Tonku commented on #187
Any update on this ? :)

[2021-02-19 13:24] aagarwal1012 commented on #187
@Tonku if you want to work on any new animated text then please post a comment.

[2021-02-19 13:27] aagarwal1012 commented on #184
@SirusCodes Sure, let's introduce null safety in the code.

[2021-02-19 13:30] SirusCodes commented on #184
4.0.0 version?

[2021-02-19 13:33] aagarwal1012 commented on #184
Yes, `v4.0.0` will work.

[2021-02-21 23:15] awhitford commented on #189
You will need to be specific about which animations you are talking about because the solution depends on the specific animation.  For example, the Fade (and Scale) animations end with _nothing_ -- the text is faded in, then out, and left with nothing.  (It looks weird to just instantly transition to a Text widget afterwards.)

Issue #180 added an option to the Rotate animation such that you can d

[2021-02-22 18:43] #184 closed

[2021-03-01 07:58] mohsin2596 commented on #27
For anyone who is still getting the issue ... make sure you pass in a ValueKey as the key to your TyperAnimatedTextKit ... then when you would setState it would update the widget for you

[2021-03-02 00:29] awhitford opened #198 "Document setState/text workaround"
Issue #27 outlines a relatively common problem where changing the `text` doesn't update the widget.  There is a workaround solution (specify a `key` that changes based on the `text`), but it should be documented in the `README`.

I'd also like to understand _better_ what is going on, and _why_ this is necessary.

[2021-03-02 09:38] SirusCodes commented on #198
What I feel this because of this issue...
We are using `StatefulWidget` for each animation when `setState` is called the widget tree rebuilds itself but it only checks for `runtimeType`. But if key is passed it will check for that as well.

You can look at [this](https://www.youtube.com/watch?v=kn0EOS-ZiIc) video by flutter team for better understanding.

[2021-03-05 05:19] jyotilaxmi98 commented on #187
Can I work on this?

[2021-03-05 06:02] aagarwal1012 commented on #187
Yes @jyotilaxmi98, you can definitely work on this issue.

[2021-03-05 06:50] jyotilaxmi98 commented on #187
How can I join the discord channel?

On Fri, Mar 5, 2021, 11:33 Ayush Agarwal <notifications@github.com> wrote:

[2021-03-05 08:04] awhitford commented on #187
Participants and mentors should have received an email from **GirlScript Summer of Code <girlscriptsoc@gmail.com>** with the Discord invitation.

[2021-03-06 14:37] Preeti2095 commented on #187
I also want to add some animated texts. How can I get started like where I can create this. I am a total beginner in dart and flutter so don't know where to create it. I searched in net. I am getting confused. Can anyone give me any suggestion or resources so that I can take help from it? And these examples which were given were amazing. I also want to create something like that.

[2021-03-06 14:57] SirusCodes commented on #187
@Preeti2095 If you don't have any idea about it I would recommend you to learn a bit about Flutter and Animations in Flutter.
Then you can take a look and try to understand [ScaleAnimation](https://github.com/aagarwal1012/Animated-Text-Kit/blob/master/lib/src/scale.dart) it is one of the few easiest animation on this package.

[2021-03-06 15:32] Preeti2095 commented on #187
Thanks @SirusCodes!

[2021-03-08 08:25] #156 closed

[2021-03-08 08:26] aagarwal1012 commented on #116
Closing this issue due to inactivity.

[2021-03-08 08:26] #116 closed

[2021-03-08 08:27] #174 closed

[2021-03-08 08:28] aagarwal1012 commented on #188
@EagleSigma, can you please confirm if this issue still persists?

[2021-03-08 08:30] aagarwal1012 commented on #189
Closing this issue due to inactivity. Feel free to reopen if anything needs to be addressed.

[2021-03-08 08:30] #189 closed

[2021-03-08 08:32] aagarwal1012 commented on #163
Closing this issue due to inactivity, feel free to reopen it if anything needs to be addressed.

[2021-03-08 08:32] #163 closed

[2021-03-08 10:03] awhitford commented on #156
In retrospect, I suspect this is intentional so that the text hangs around for a while after it fades in before it fades out.

[2021-03-08 10:53] aagarwal1012 commented on #156
@awhitford, that's correct!

[2021-03-08 11:46] ritvij14 commented on #190
Hi, I would like to contribute to this issue as a part of GSSOC '21. This is the first time I am contributing to a flutter package so could someone guide me a little as to how should I proceed with this issue?

[2021-03-08 12:40] awhitford commented on #190
To clarify, you can presently specify the _total duration_ of the _Fade In and Out_.  The _Fade In, Pause, and Fade Out_ are hard-coded ratios:
* Fade In - between 0 and 50% (or 0.5)
* Pause - between 50% and 80% (0.5 and 0.8)
* Fade Out - between 80% to 100% (0.8 to 1.0)

Lines 27 and 34 have the magic numbers:
https://github.com/aagarwal1012/Animated-Text-Kit/blob/e5c3b8471a83eba1677447754e9ec9f

[2021-03-08 15:28] ritvij14 commented on #190
@awhitford thanks for the explanation, I have looked at the code of this file and now have an idea of what to do.

Just one doubt though, how should I test my changes and check if they work correctly or not?

[2021-03-08 19:35] awhitford commented on #190
@ritvij14 Excellent question!

We measure [test coverage](https://codecov.io/gh/aagarwal1012/Animated-Text-Kit), and likely the existing tests would provide adequate _coverage_.  We strive for 90% or better, but don't want to see it below 80%.

The project has an `example` project that may be used to manually test functionality.  (This code is also executed as part of the automated test.)

Overall

[2021-03-08 20:29] awhitford opened #199 "CI broken with Flutter 2 - sort_child_properties_last"
It appears that the code is failing the `flutter analyze` check, which is breaking the CI builds.  This seems to be since Flutter 2.  See [sort_child_properties_last](https://dart-lang.github.io/linter/lints/sort_child_properties_last.html).

[2021-03-08 20:48] awhitford commented on #199
Note that the CI break was due to a `pedantic` upgrade that introduced [8 new lint rules](https://pub.dev/packages/pedantic/changelog#1110).

[2021-03-09 06:00] #199 closed

[2021-03-09 07:03] subhangi2731 commented on #198
can you assign this to me?

[2021-03-09 07:04] subhangi2731 commented on #191
can you assign this to me?

[2021-03-09 09:08] aagarwal1012 commented on #191
@subhangi2731, sure you can work on this issue.

[2021-03-09 09:08] aagarwal1012 commented on #198
@subhangi2731, you can work on this issue as well.

[2021-03-09 09:18] aagarwal1012 opened #201 "[feat] Prepare animated text kit flutter web app for demo"
### Description
Rather than suggesting everyone install the `example` app to experience Animated Text Kit in action, it will be better to host the example app on Github Pages using single page flutter web application.
Other suggestions are highly welcomed.

### Resources
- https://flutter.dev/web
- https://medium.com/@zonble/use-github-pages-to-host-your-flutter-web-app-as-an-example-of-your-flutt

[2021-03-09 09:34] SirusCodes commented on #201
We can reuse the current `example app` and give a sidebar to select animation 🤔

[2021-03-09 12:38] awhitford opened #202 "Document how to screen shot animations"
When new animations are introduced, we need to know how to best capture new [animation samples](https://github.com/aagarwal1012/Animated-Text-Kit/tree/master/display).  Specifics around:
* settings (resolution, duration, etc.)
* tooling
* optimization techniques

will be helpful.

[2021-03-09 14:00] itsIapetus commented on #201
I would like to work on this as a part of GSSoC, could you please assign it to me and guide me with the process?

[2021-03-09 14:14] SirusCodes commented on #201
@itsIapetus you can continue with this...

[2021-03-09 14:46] SirusCodes commented on #201
You can start start working on `/example` and make something like [flutter/sample/web_dashboard](https://flutter.github.io/samples/web_dashboard.html)

[2021-03-10 05:38] awhitford commented on #201
Please be aware that the current `smoke_test` iterates through the `example` pages to exercise each animation.  The test does not _need_ to use the `example` -- but we presently have a respectable 95% code coverage, and it would be shame to see that drop.  So, if the `example` exercise is removed from the `smoke_test`, let's just make sure that other testing is added to exercise the code.

[2021-03-10 09:44] prerna2712 commented on #187
Can I work on this under GSSOC '21 ?

[2021-03-10 11:17] Sameerkash commented on #187
@prerna2712, Sure, go ahead, do let us know which animation, in particular, you're working on.
Get back to us on the discord channel if you have any further doubts.

[2021-03-10 11:22] prerna2712 commented on #187
Is there any seperate discord channel within or outside the GSSOC server? Because I cannot find any seperate channel.

[2021-03-10 11:31] Sameerkash commented on #187
Please search for #animated-text-kit under projects2 of GSSoC's main server.

[2021-03-10 12:55] Shreejichandra commented on #187
@Sameerkash I think it is not visible to us yet.

[2021-03-10 21:36] #190 closed

[2021-03-11 08:03] saurabhraj042 commented on #187
@aagarwal1012 I would like to add new animated text ( i.e Effect 15 from the reference :https://tobiasahlin.com/moving-letters/#15)

[2021-03-11 16:50] k-s-t-i opened #206 "LiquidTextFill throwing Unimplemented Error on Web"
**To Reproduce**
[code]

**Flutter:**
 - 2.0.1
 - stable

**Dart:**
 - latest

[2021-03-11 17:08] awhitford opened #207 "New Animation like Moving Letters Effect 15"
@saurabhraj042 requested to add a new animated text like [Effect 15](https://tobiasahlin.com/moving-letters/#15)

[2021-03-11 17:10] awhitford commented on #187
@saurabhraj042 Issue #207 has been created for you.

[2021-03-11 17:22] awhitford commented on #187
# Attention GSSOC Participants
We are interested in GSSOC Participants creating new animations.  The link to [Moving Letters](https://tobiasahlin.com/moving-letters/) is meant to be inspirational, not necessarily a specification.  We welcome your imagination.

Rather than have a bunch of people working on this one issue (#187), we will create a unique issue for each _(Participant, Animation)_ comb

[2021-03-11 17:31] SirusCodes commented on #206
Reproduced this.

<details>
<summary>logs</summary>
<p>

[code]

</p>
</details>

[2021-03-11 17:32] saurabhraj042 commented on #207
@awhitford thanks for opening this issue , please assign it to me .

[2021-03-11 17:47] SirusCodes commented on #206
This issue was from https://github.com/flutter/flutter/issues/44152 it was fixed a month ago I guess now it is in master or dev will take a while to get on stable I guess

[2021-03-11 18:05] k-s-t-i commented on #206
Cool, closing.

[2021-03-11 18:05] #206 closed

[2021-03-12 07:06] SirusCodes commented on #188
Ig this is also a flutter related issue, not sure if it is fixed but seems like it is fixed already by looking at the reference commits in https://github.com/flutter/flutter/issues/48438.

[2021-03-12 07:08] saurabhraj042 commented on #207
@awhitford I have a doubt like in the sample Effect 15 we have two separate Text elements, but in the animated-text kit package most of the animations work with single string at a time and I have been able to recreate Effect 15 for only one String at a time so I just want to confirm if that's we are planning to do .

[2021-03-12 07:17] awhitford commented on #207
Focus on the effect for 1 text element.  What you are really animating is the _zoom in effect_.

You can consider that [Effect 15](https://tobiasahlin.com/moving-letters/#15) is actually TWO animated texts positioned side by side with a delay.

[2021-03-12 07:18] SirusCodes commented on #207
@saurabhraj042 You can implement it with `CustomPainter`
https://github.com/aagarwal1012/Animated-Text-Kit/blob/master/lib/src/wavy.dart is implemented using `CustomPainter`

[2021-03-12 07:22] awhitford commented on #207
Uhm...  Is a CustomPainter approach really necessary?  Isn't this just a reverse Scale Animation?  You can likely take the Scale Animation and make some adjustments.

[2021-03-12 07:27] SirusCodes commented on #207
What I'm thinking is that user will pass a `List<String>` like `["Buy Now", "On Sale"]`

The sequence of animation would be like.

1. `Buy` scales in
2. `Now` scales in
3. `Buy Now` fades out
4. `On` scales in
5. and so on...

This would be better with `CustomPainter`

[2021-03-12 07:28] SirusCodes commented on #207
Oh I realized with `CustomPainter` user would be able to manage duration of text showing up🤔

[2021-03-12 07:41] awhitford commented on #207
@SirusCodes I would be wise to contain complexity.  I also want to avoid baking too much complexity in a specific animation because a compositional approach that could be used for other animations is preferred.

The `AnimatedText` class is designed to animate _one_ text string.
If you want to string multiple texts, you then specify a `List<AnimatedText>` elements to `AnimatedTextKit`.

[2021-03-12 07:52] SirusCodes commented on #207
Yaa I also feel that `CustomPainter` will over complicate the animation.

What are you trying to say? `AnimatedTextKit` is already taking `List<AnimatedText>` as parameter🤔

[2021-03-12 07:58] saurabhraj042 commented on #207
@awhitford https://codeshare.io/GqgYqX please review this code snippet, I tried keeping it simple and the animation was close to Effect 15

[2021-03-12 08:01] SirusCodes commented on #207
@saurabhraj042 can you open a PR with gif of that animation?

[2021-03-12 08:03] awhitford commented on #207
`AnimatedTextKit` is a small example of a _compositional approach_ because one can mix and match different `AnimatedText` subclasses.

To be even more clear...
* My expectation for a new `AnimatedText` subclass is to animate _one_ text value.
* If we wanted to match _exactly_ the [Effect 15](https://tobiasahlin.com/moving-letters/#15) example, there are 2 concepts that we need to account for:
  1.

[2021-03-12 08:06] SirusCodes commented on #207
Yes thanks now it's a lot clear 😃

[2021-03-12 08:08] awhitford commented on #207
I think this is meeting my expectations.  I'd have to see it in action to be sure, but it looks pretty good.

I wonder if we can come up with a better _name_ for the effect than `OutNow`.  It seems more like a "Zoom In" effect to me, but I'm definitely open to ideas here.

Also, I'm advocating that we do not make a corresponding `Kit` class for each new animation.  (We have them for the old animat

[2021-03-12 08:11] saurabhraj042 commented on #207
@awhitford I will do the changes and make a PR asap !

[2021-03-12 08:14] awhitford commented on #207
In addition to the new animation class, the README needs to be updated with a sample screenshot of the animation.  (I actually do not know how @aagarwal1012 did that -- that's why #202 was created.)

[2021-03-12 08:16] SirusCodes commented on #207
How about `ZoomInFadeOut`?

Let's wait for the final words from admin.

[2021-03-12 08:18] SirusCodes commented on #202
I don't how other did it, but when I created my animation, I screen recorded it and the converted it to a gif using ezgif.com or some other site.

[2021-03-12 08:35] awhitford commented on #202
@SirusCodes / @aagarwal1012  We need some advice to give folks offering new animations.  (GSSOC Participants are going to want their points, and I don't want to approve a new animation that isn't fully documented.)

Another thing worth mentioning is that the sample is _square_ -- looks like 1048 x 1048 resolution is typical.

🤔 I would love to see the display images captured during the test execut

[2021-03-12 10:23] SirusCodes commented on #202
Currently I don't think that there is a way to capture a gif [widget_record](https://pub.dev/packages/widget_record) and [widget_recorder](https://pub.dev/packages/widget_recorder) are option but they are not worked upon so we might consider to ask them to screen record and convert video to gif.
I don't think we can automate this for now...

[2021-03-12 13:19] saurabhraj042 commented on #207
@awhitford What do you mean by test coverage ?

[2021-03-12 13:39] aagarwal1012 commented on #202
@SirusCodes I also followed your way to use a screen recorder, trimmed the video to make it look consistent, and converted it to gif or webp image online using ezgif.com or similar websites.

[2021-03-12 13:47] aagarwal1012 commented on #207
I agree with @awhitford, we don't need any kit class from now on.

`ZoomInFadeOut` looks fine to me @SirusCodes . 😅

[2021-03-12 13:51] aagarwal1012 commented on #202
I found a really good documentation from the flutter team, https://github.com/flutter/flutter/wiki/Making-animated-GIFs-of-Flutter-apps. Take a look at it @awhitford @SirusCodes.

[2021-03-12 14:58] SirusCodes commented on #202
Yes, this looks better it will work. For ease we can ask them to record it.

1. On emulator you can directly record it.
2. Currently most physical devices have inbuilt screen recorder or they can use these commands

We can give them a other specifications for gif.

1. Gif should look like it's on loop.
2. Size of gif and aspect ratio

[2021-03-12 16:35] awhitford commented on #191
I anticipate that this is minor code refactoring, so this is GSSOC Level 2.

My initial reaction is to give people the option to supply their own _Animation Controller_ to `AnimatedTextKit`.  (Right now, the _Animation Controller_ is managed by `AnimatedTextKit`.)

[2021-03-12 18:41] awhitford commented on #202
I like the documentation from the flutter team -- that should be good for now.  We should add a section to the README that outlines advice for adding new animations.  It could link to the flutter doc, but it also should provide some additional advice to generate the appropriate output -- like _square_ gif ~ 1048x1048.

🤔 However, maybe we should strive to let #201 negate the need to do this altoge

[2021-03-12 19:16] awhitford opened #210 "Add Test case for custom Fade In and Out"
PR #203 offered customization for controlling the `fadeInEnd` and `fadeOutBegin`.  There should be a test case that exercises this scenario.

[2021-03-12 19:31] awhitford commented on #187
Have you noticed that animation classes come in pairs?  For example, there is `FadeAnimatedText` and `FadeAnimatedTextKit`.  There was a significant refactoring with [Version 3](https://github.com/aagarwal1012/Animated-Text-Kit#new-with-version-3) that split the original `FadeAnimatedTextKit` into `FadeAnimatedText` and `AnimatedTextKit`, then `FadeAnimatedTextKit` was adjusted for backwards compa

[2021-03-12 19:37] awhitford opened #211 "Deprecate legacy Kit classes"
Have you noticed that animation classes come in pairs?  For example, there is `FadeAnimatedText` and `FadeAnimatedTextKit`.  There was a significant refactoring with [Version 3](https://github.com/aagarwal1012/Animated-Text-Kit#new-with-version-3) that split the original `FadeAnimatedTextKit` into `FadeAnimatedText` and `AnimatedTextKit`, then `FadeAnimatedTextKit` was adjusted for backwards compa

[2021-03-13 04:35] akbarpulatov commented on #191
I think it is better to give Controller Class, and Animation Controller keep inside. If we give Animation Controller, then  user has to do a lot of boilerplate code. Controller class controls Animation Controller. I started this implementation. What is your opinion to this approach?

[2021-03-13 10:29] awhitford commented on #191
@akbarpulatov I'm honestly unclear why a wrapper class (Controller) around the Animation Controller would add value, but I'm happy to keep an open mind.  Show me some code and I can either appreciate the merit, or raise my concerns.

This problem reminds me of something I've worked with in [Flutter Form Builder](https://pub.dev/packages/flutter_form_builder), specifically how it deals with [TextEd

[2021-03-13 10:47] SirusCodes commented on #191
What I was think is to let the package control the `AnimationController` and the package will provide with another controller which user can use to controller animations such as `start`, `pause` and `stop`.

[2021-03-13 15:20] akbarpulatov commented on #191
@awhitford yes of course, today a little bit tired, tomorrow I will post some code as you said.
Yes of Course @SirusCodes.

[2021-03-14 07:50] Ruhika1417 commented on #210
hi @awhitford is this solved?

[2021-03-14 08:12] aagarwal1012 commented on #210
No @Ruhika1417, this issue still needs to be resolved. Refer #203.

[2021-03-14 11:36] akbarpulatov commented on #191
The first thing, came to my mind is:
[code]
And in the _AnimatedTextKitState:
[code]
here is my main:
[code]
Now tested the code. It has a bug to control only one Widget, cause controller is storing only one state object.

https://user-images.githubusercontent.com/27597344/111066933-6b71e100-84e3-11eb-84aa-bb7afe04953b.mov

[2021-03-15 11:55] hs2361 commented on #210
Hello, @aagarwal1012 @awhitford, I'm a GSSoC'21 participant. Could you please assign this issue to me?

[2021-03-16 06:25] awhitford commented on #191
The original request is to have a way to synchronize multiple animations, so that issue is not really being addressed.  The fact that the `AnimationController` is part of the `_AnimatedTextKitState` is the key issue.  Right now, with two animations, we have two `AnimationController` instances.

I could see your `AnimatedTextController` trying to control many underlying `AnimationController` instan

[2021-03-16 08:06] SirusCodes commented on #191
@akbarpulatov this is what came in my mind honestly but looking at what @awhitford said I think implementing `AnimationController` would be easier and having one instance of will be more performant(I'm not sure about it but it feels so).

We can add a named constructor which will take `AnimationController` as a param

[2021-03-16 17:28] khareyash05 opened #214 "update contributing.md"
Hey! I would like to add the following in contributing.md
1.Difference between GIT and GITHUB
2.How to clone,fork repository
3.How to create a branch and then use git push to push to repo
4.Create a PR
5.Squash commits in a single issue into one
6, Updating the forked and local repo as the updations are made in the upstream

[2021-03-16 18:05] SirusCodes commented on #214
Do we really need this? If we want to add such things, we can just add a link in CONTRIBUTING.md

[2021-03-17 00:57] khareyash05 commented on #214
@SirusCodes I think we really need because it will act as a one stop shop for open source contributions and also if necessary will be able to work offline which we cant do with just links. A proper documentation will increase the reputation level of our repo

[2021-03-17 05:11] akbarpulatov commented on #191
@awhitford, @SirusCodes, I agree with you. Giving `AnimationController` will be more effective. Thank you @awhitford Very nice accent on synchronization.

[2021-03-17 13:08] Ruhika1417 commented on #198
hi @aagarwal1012 I would like to work on it if its not solved yet....Could you pls let me know if you can assign this to me?!

[2021-03-17 15:52] aagarwal1012 commented on #198
@Ruhika1417, sure you can work on it. It's a minimal issue related to documentation, so I think there should not be an issue with that.

[2021-03-20 17:10] subhangi2731 commented on #191
@akbarpulatov can you please guide me little bit on this?

[2021-03-20 20:07] awhitford opened #215 "Reconsider requiring textStyle property for AnimatedText subclasses"
The `textStyle` property is `required` for `AnimatedText` subclasses.  It can lead to a bunch of repetition.

Does it make sense to leverage the [`DefaultTextStyle`](https://api.flutter.dev/flutter/widgets/DefaultTextStyle-class.html) widget?  Could that simplify the code?

Note that being able to provide a unique `textStyle` is still valuable.  However, when you are specifying the same value for

[2021-03-20 20:26] awhitford commented on #215
Note that I had this idea from PR #216, resolving #211.

[2021-03-20 23:55] awhitford commented on #214
📚  **GitHub already provides some great documentation**:
 * [GitHub Guides](https://guides.github.com/)
 * [GitHub Documentation](https://docs.github.com/)

While I am sympathetic to being a helpful resource for newbies, it is unrealistic to expect every project outline the basics for folks.

**A project should only be concerned with outlining _project specific_ guidance.**

[2021-03-21 00:11] awhitford commented on #191
@subhangi2731 I recommend taking a look at this comment:

I think the parallel of optionally supplying a `TextEditingController` is a reasonable model for optionally supplying an `AnimationController`.  I think this is a small adjustment to be made to `AnimatedTextKit`.  We will also need a test case to exercise this optional functionality.

[2021-03-21 01:36] #214 closed

[2021-03-21 18:52] #211 closed

[2021-03-22 11:07] aditi1403 opened #219 "Update README.md file"
I have made some minor grammatical edits to the README.md file. Kindly refer to PR #218.

[2021-03-22 14:31] Preeti2095 commented on #187
I was installing flutter...and when I ran flutter doctor I got " !doctor found issues in 1 category" in the last line. How to resolve this?

[2021-03-22 15:26] Sameerkash commented on #187
@Preeti2095 would recommend asking these types of questions on discord rather than here as this is meant for communicating about this particular issue and not generic doubts about flutter, ping @sameer in discord, I'll be able to help you.

[2021-03-22 15:39] awhitford commented on #219
Is this intended for GSSOC credit?

[2021-03-22 16:37] aditi1403 commented on #219
yes

[2021-03-22 17:05] aagarwal1012 commented on #219
@aditi1403, sorry to say, but we don't accept PRs related to grammatical changes, we are not English scholars, and we are okay with it.

[2021-03-22 17:05] #219 closed

[2021-03-22 18:00] #215 closed

[2021-03-22 19:29] SirusCodes opened #221 "Remove `DefaultTextStyle` as parent in `README.md` and `example`"
I would suggest to remove use of `DefaultTextStyle` in `README.md` and `example` as it would suggest the user to use it for every time when they want to change the text style

[2021-03-23 02:32] awhitford commented on #221
Using `DefaultTextStyle` avoids having to repeat having to specify the `textStyle` for each `AnimatedText` instance.  It cut a lot of lines of code in the sample code.

Having said that, I support the idea of a _section_ that explains the benefits of using `DefaultTextStyle`.

[2021-03-23 02:37] awhitford commented on #221
@SirusCodes I think you meant to reference #217.

[2021-03-23 02:50] sameer commented on #187
you've got the wrong sameer :cry:

[2021-03-23 04:26] SirusCodes commented on #221
Yes because if I'm a beginner in Flutter and say this in a package I would think that this is the only way to use this package...

I think we can add a section explaining the use of `DefaultTextStyle` and in our example use it somewhere where we have repetation not in all animation?

[2021-03-24 07:04] awhitford commented on #201
This [tweet](https://twitter.com/luke_pighetti/status/1370333429737390081) has a [gist](https://gist.github.com/lukepighetti/dca8d731aa95adfa86fd01b0c76222d5) that shows how to publish a _flutter web build_ to [Firebase Hosting Preview Channels](https://firebase.google.com/docs/hosting/manage-hosting-resources).

[2021-03-24 07:11] aagarwal1012 commented on #201
@awhitford, if we are going to use firebase hosting, then I can try to set up this one.

[2021-03-24 08:11] SirusCodes commented on #201
We can use gh pages as well🤔

[2021-03-24 13:32] aagarwal1012 commented on #201
#222 should be good for now.

[2021-03-24 15:12] awhitford commented on #188
PR #222 shows that Colorize seems to be working fine now.

[2021-03-24 15:12] #188 closed

[2021-03-24 17:08] #201 closed

[2021-03-25 02:56] awhitford opened #225 "Text Color difference between Web and Mobile App"
Inside the animations, the text color is Black for the Web, but White for Mobile Apps (iPhone/Android).
What is weird is the text color for everything else matches.

## Web
![image](https://user-images.githubusercontent.com/123887/112411456-2e270380-8cda-11eb-810d-f97982ea854d.png)

## iPhone
![image](https://user-images.githubusercontent.com/123887/112411505-3e3ee300-8cda-11eb-8980-e33cd3f3d6a7.p

[2021-03-25 02:59] awhitford commented on #225
I should clarify that we need an explanation -- not just an explicit color override.
Referencing a known Flutter Web bug would be a satisfactory resolution.

[2021-03-25 06:22] awhitford commented on #225
I filed a reproducible case: https://github.com/flutter/flutter/issues/79022

[2021-03-27 13:23] aagarwal1012 opened #231 "Add `TextLiquidFill` to example app"
I noticed recently that the example app doesn't contain `TextLiquidFill Animated Text`.

Reference - https://github.com/aagarwal1012/Animated-Text-Kit#textliquidfill.

[2021-03-27 17:45] awhitford commented on #231
It is there!

https://github.com/aagarwal1012/Animated-Text-Kit/blob/3d017ea9e48aa5ff720b7c3691885aa2aa76e669/example/lib/main.dart#L278-L289

[2021-03-27 17:45] #231 closed

[2021-04-03 16:03] Dumdidoo opened #233 "Text is truncated in LiquidFill on tablets"
I'm using LiquidFill in a Scaffold Appbar.  It works fine in phones (Nexus 4, 3, Pixel 3, 4, 4XL, Samsung Note 10+, Pixel 3XL).

However, on tablets, the text is truncated - it replaces the second half of the text with an ellipsis... .  This is true in a Pixel C tablet AVD API 30, and in a physical Samsung Galaxy T580 running Android 8.1.0.

(Animated-Text-Kit ^4.1.1)

[2021-04-03 18:55] awhitford commented on #233
I think AppBars in Flutter are intentionally using `overflow: TextOverflow.ellipsis` for the `title` to keep the text to one line.  That isn't being specified by the _Animated Text Kit_ code.

I am surprised to read that it works for phones and not tablets because I would think that tablets have more room. 🤔

You might try wrapping the `TextLiquidFill` with a [DefaultTextStyle](https://api.flutter

[2021-04-03 21:07] Dumdidoo commented on #233
Hi, thanks for your comment. I've investigated it further, and it seems to be just a problem with the fontsize scaling that I was using. The scaling wasn't handling the much bigger size of the tablet width - it worked on all the smaller phones. So, mea culpa, my mistake, I think it's fine now. Please close this issue, and thanks for your help.

[2021-04-03 21:07] #233 closed

[2021-04-04 08:15] Khushi-24 commented on #198
@aagarwal1012 Is the issue resolved? If not can I work on this?

[2021-04-04 10:17] aagarwal1012 commented on #198
@Khushi-24 this is still available, you can work on this.

[2021-04-06 04:59] CoderInTheWoods commented on #187
@aagarwal1012 I would like to work on this issue.

I am thinking of adding new text animation Effect 12 from https://tobiasahlin.com/moving-letters/#12

Do let me know if I can work on this.

[2021-04-06 05:40] CoderInTheWoods opened #234 "Create Animated Text Like Effect 12"
I am willing to work on this issue to create an animated text effect like EFFECT 12 from https://tobiasahlin.com/moving-letters/#12

Kindly assign this issue to me.

[2021-04-06 06:14] aagarwal1012 commented on #187
@CoderInTheWoods, thanks for the proposal, I have assigned you #234.

[2021-04-07 06:07] Nidhi-2000 commented on #221
Hey , @SirusCodes can you please assign this issue to me . I am a GSSOC'21 participant

[2021-04-07 06:09] Nidhi-2000 commented on #210
Hey, @aagarwal1012 can you please assign this issue to me . I am a GSSOC'21 participant

[2021-04-07 07:40] Nidhi-2000 commented on #221
thanks @Siruscodes.

[2021-04-07 13:16] aagarwal1012 commented on #210
@Nidhi-2000, I have assigned you the issue, go ahead!

[2021-04-09 09:04] Khushi-24 commented on #198
Sorry for the inconvenience. Due to some issues, I am unable to work on this.

[2021-04-09 13:48] Gregikkps opened #235 "Not stable text after animation"
Hi, the problem is that after the end of the animation, text changes its position.

Here's a piece of code:

[code]

![not stable text](https://user-images.githubusercontent.com/76614984/114189519-93216100-994a-11eb-87df-cce585adbd12.gif)

Thanks for every tip!

[2021-04-10 10:16] khareyash05 opened #236 "addition in contributing.md"
Hi! I would like to add the following in contributing.md-
Difference between GIT and GITHUB
How to clone,fork repository
How to create a branch and then use git push to push to repo
Create a PR
Squash commits in a single issue into one
Updating the forked and local repo as the updations are made in the upstream

[2021-04-10 10:22] Sameerkash commented on #236
@khareyash05 Difference between Git and Github is beyond the scope of this project, it already assumes familiarity with such things.
I personally think only a few lines specifying fork, clone , branch and squash would be slightly valuable, or else better would be to pointing to a source that contains all this content.

Else this is just redundant information.

CC to other mentors for their opinion

[2021-04-10 10:24] Sameerkash commented on #235
Might be that the container is not enough for the animation? and it's pushing the text down.

[2021-04-10 10:30] khareyash05 commented on #236
Should I provide u with some screen shots of the file @Sameerkash ?

[2021-04-10 10:33] Sameerkash commented on #236
Let's wait for another mentor's opinion

cc @aagarwal1012 @awhitford

[2021-04-10 10:40] SirusCodes commented on #235
I think that this is the issue.

[2021-04-10 10:43] SirusCodes commented on #236
@khareyash05 you already opened same here #214 and we still think the same.

[2021-04-10 10:43] #236 closed

[2021-04-12 07:59] Gregikkps commented on #235
I have increased it to 600 and the problem is the same.

[2021-04-16 05:01] Mohitmadhav commented on #235
I think that is correct, but @Gregikkps can you try the text without any containing with just padding itself?

[2021-04-20 10:18] Gregikkps commented on #235
@Mohitmadhav I removed all containing and is same. I noticed that with other fonts the problem sometimes disappears.

[code]

![Android Emulator - Pixel_3a_XL_API_30_5554 2021-04-20 11-51-48](https://user-images.githubusercontent.com/76614984/115380028-6edb4500-a1d2-11eb-8b86-0e8e868042b3.gif)

[2021-04-21 19:44] SirusCodes commented on #235
Sorry for late reply.
I was able to reproduce this and also found a fix to it but also encountered another.

After fixing the position issue I found out that there are some scaling issues.

For detail Wavy uses `CustomPainter` while animating and sets a text normal `Text` widget otherwise. Now while animating text (on Canvas) size is bigger than the normal widget.

I need to confirm that if this i

[2021-04-22 12:35] ZihYangLin opened #241 "ColorizeAnimatedText's animation is weird."
the color animation is weird. There has a short animation at the beginning when repeated.

Here's a piece of code:

[code]
![only repeat once](https://i.imgur.com/kpa4KOY.gif)

please wait til end, about 10s.

Thanks for every tip!

[2021-04-24 06:00] Mohitmadhav commented on #187
@aagarwal1012 can I please work on this issue? And how shall I know which animations are still left to be added?

[2021-04-24 08:44] #235 closed

[2021-04-24 08:48] aagarwal1012 commented on #187
@Mohitmadhav, try to select one animated text from the list and check if it is not present in the Readme file; this should work for now.

[2021-04-28 06:50] Mohitmadhav commented on #198
@awhitford can I work on this issue?

[2021-04-28 07:34] SirusCodes commented on #198
@Mohitmadhav you can start working on it and open a PR.

[2021-04-28 19:16] #198 closed

[2021-05-04 15:17] anirudhsai20 opened #246 "Readme file enhancement"
The Readme file can be enhanced by adding a list of all the Open Source progarms in which this project was listed in.

[2021-05-04 15:17] anirudhsai20 commented on #246
Hi! Please assign this issue to me under GSSOC.

[2021-05-04 15:21] aagarwal1012 commented on #246
Currently, this package is only listed in GSSoC open-source program, so right now we don't feel to add it in the readme.

[2021-05-04 15:21] #246 closed

[2021-05-09 07:53] anggaaryas opened #247 "How to manual restart?"
**Describe the bug**
How to force repeat animation when isRepeatingAnimation = false? Maybe we need manual restart animation.

**To Reproduce**
Steps to reproduce the behavior:
1. Create simple AnimationTextKit
2. change text with setState
3. Animation should be restarted

**Expected behavior**
Animation should be restarted

**Flutter:**
Flutter (Channel stable, 2.0.0, on Microsoft Windows [Versio

[2021-05-10 15:13] yeasin50 opened #248 "TextLiquidFill is not support on web being dependent on ShaderMask"
**Flutter:**
 - 2.0.6
 - Stable

**Dart:**
 - 2.12.3

[2021-05-10 18:19] SirusCodes commented on #248
Duplicate of #206

[2021-05-13 06:35] syleishere opened #249 "Good Library but doesn't seem to work with obx and getx"
[code]
Doesn't update the text at all.

[2021-05-13 06:37] syleishere commented on #249
Maybe doesn't support it not sure, not sure why wouldn't work with #3 top plugin in world getx for state management.

[2021-05-14 05:34] SirusCodes commented on #249
@syleishere I don't think there should be any issue with any of the state management solutions as all of them play by the rules of Flutter (IFAIK lemme know if GetX is different).
Maybe you can give us some logs or some specific issue with the package then we can work on it.

TBH, I have 0 experience with GetX so it would be great if you can provide us with a project to reproduce this.

[2021-05-17 16:42] ColbyIris opened #250 "Bad Performance? Doesn't run @60fps?"
I don't know if it's just me but i am using RotateAnimatedText and i notice that the animation isn't very smooth. looks pretty janky even on my ipad pro 12.9 inch.

Is there some known performance issue, or ways to improve current performance?

[2021-05-18 01:38] SirusCodes commented on #250
Hey thanks for bringing this to notice. But can you verify that this is not because of iOS jank issue in flutter?
Also, it would be great if you can point us which render is causing jank for devtools?

[2021-05-18 17:27] ColbyIris commented on #250
Hi, thanks for the response - i notice this is also the case running on web release mode using canvasKit renderer.

[2021-05-19 13:55] SirusCodes commented on #250
Can you point us which widget is taking most time to render? and only `RotateAnimatedText` is facing an jank?

[2021-05-20 08:53] anggaaryas commented on #249
Maybe related to this?

#243
#247

[2021-05-20 08:55] anggaaryas commented on #247
#243

[2021-05-20 08:55] #247 closed

[2021-05-20 14:13] SirusCodes commented on #249
Oh @aagarwal1012 have you tested this https://github.com/aagarwal1012/Animated-Text-Kit/pull/243#issuecomment-829043893??
I think this will fix it and we won't require any workaround for it🤔

[2021-05-20 14:15] SirusCodes commented on #250
Cool we will try to have a look at it.

[2021-05-21 10:45] Mohitmadhav commented on #187
I want to work on https://tobiasahlin.com/moving-letters/#14
@aagarwal1012

But how should I proceed?
Should I create a separate class extending AnimatedTextKit in the src folder or something else?
Can you please help me out?

[2021-05-21 13:17] SirusCodes commented on #187
Hey @Mohitmadhav it looks really great you can start working on it.

1. Open an issue with the link
2. Open a PR
3. Get it merged!

[2021-05-21 15:22] Mohitmadhav commented on #187
That I understand but how can I create the animation I meant - By creating a new dart file for effect in src folder after fork and clone?

[2021-05-21 18:03] Mohitmadhav commented on #187
@SirusCodes not contributing rules - I meant how shall I create this new effect?

[2021-05-22 12:18] SirusCodes commented on #187
@Mohitmadhav I would directly paint the text to canvas and honestly speaking that's not easy.

[2021-05-28 04:43] harshita2319 commented on #221
I'd like to work on this (GSSOC participant)

[2021-05-28 08:43] SirusCodes commented on #221
@harshita2319 go ahead.

[2021-05-28 10:46] harshita2319 commented on #221
Should I add  new file for explaining the use as you've mentioned earlier?

[2021-05-28 11:20] SirusCodes commented on #221
Just update the README @harshita2319

[2021-05-30 06:36] viralvaghela opened #252 "Missing , (Comma) in Documentation Code Example"
Inside documentation code of **Rotate** and **Typer** there is missing , (comma) before the onTap() method.

[code]
I would like to send PR and fix this small issue!

[2021-05-30 08:30] YadavFastFood opened #253 "Animation stops after some time"
Rotated animation stops after some time

[2021-05-30 17:07] SirusCodes commented on #252
How this will add value to the project? Anyone who I taking code from readme can update it on their side.
I don't think there is a need to open a PR for just this thing.
Thanks for raising this issue we can add this in the next update.

[2021-05-30 17:07] SirusCodes commented on #253
Can you give us more details about it?

[2021-06-01 07:09] #253 closed

[2021-06-04 08:44] Jackjun724 commented on #53
Why close the issues?

[2021-06-04 11:00] chintanrparmar opened #254 "Animate RichText"
I am using AnimatedTextKit to animate the text with a typewriter effect. I have a sentence where each word is of a different color, which is not possible to do as animatedTexts takes the list of TypewriterAnimatedText where I can only put a string, and even if I put words as a separate list item it will come after other. I want to animate a sentence typed out animation with each word as a differen

[2021-06-07 20:05] Dumdidoo opened #255 "Problem getting TextLiquidFill to go to completion"
I'm using TextLiquidFill  to do a banner heading in the appbar.

However, I can't get it to fill completely - there's always a bit of the top of the text missing (see screenshot)

Here's the code:
                  child: TextLiquidFill(
                    boxHeight: 500.0,
                    boxWidth: 600.0,
                    text: 'HELLO THERE FOLKS',
                    waveColor: Colors.re

[2021-06-13 07:02] ibra7002 opened #257 "please could you add Arabic character support"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-06-13 19:02] SirusCodes commented on #257
Hey, @ibra7002 which animations are not supported?

[2021-06-13 19:03] SirusCodes commented on #255
@awhitford @aagarwal1012 can you look into this?

[2021-06-13 19:08] SirusCodes commented on #254
It would be a great feature to have but I'm not sure that if we can implement that easily with any of the flutter widgets as many of the animations animated each character individually.

[2021-06-14 02:44] dhruv1710 opened #258 "Because of colorized text the production app is showing white screen"
The app is working fine in app but in web it is showing white screen and in console it is saying :-
** Another exception was thrown: Instance of 'minified:hW<void>'**

I checked the app and came down to the conclusion.

[2021-06-14 08:42] khangahs opened #259 "Crash on hot reload with getPositionForOffset error"
**Describe the bug**
getStack: WipError -32000 Cannot find context with specified id

**To Reproduce**
Code Base:
[code]
2. Run debug or hot reload
3. Crash:
[code]
text_painter.dart shows up:
[code]

**Expected behavior**
Animation Texts run smoothly without crash.

**Flutter:**
latest stable Web

**Dart:**
latest

[2021-06-15 03:47] khangahs commented on #259
I'm using this with google_fonts package to style the texts. However, when I remove the package and implement the default way of changing fonts, the error disappears! I might investigate further.

[2021-06-16 01:50] ibra7002 commented on #257
Thanks for your reply,  its wavy

On Sun, 13 Jun 2021, 9:02 pm Darshan Rander, ***@***.***>
wrote:

[2021-06-16 03:11] SirusCodes commented on #257
Can you send us reproduceable code along with an example video and error log if any.

[2021-06-16 09:50] khangahs commented on #259
Seems like its the incompatible widget layout of google_fonts, I will close this issue thereof.

[2021-06-16 09:50] #259 closed

[2021-06-17 15:09] ibra7002 commented on #257
thanks for replying , sorry for being late

`import 'package:flutter/material.dart';
import 'package:flutter/material.dart';
import 'package:animated_text_kit/animated_text_kit.dart';

void main() {
  runApp(MyApp());
}

class MyApp extends StatelessWidget {
  // This widget is the root of your application.
  @override
  Widget build(BuildContext context) {
    return MaterialApp(
      title: 'Fl

[2021-06-18 00:17] SirusCodes commented on #257
Thanks for bringing this to our attention.
So how wavy works is it splits your texts into characters and then animate each renders each character independently.
It would be great if you can help us find a way how we can support this package with Arabic font as it would help other languages as well.

[2021-06-18 00:18] SirusCodes commented on #259
Are us sure about it?

[2021-06-18 00:56] ibra7002 commented on #257
Thanks so much for your response, wavy works well in English,french,etc... because Words have character with spaces between them , but in Arabic not all words have spaces , so you can not split connected character,maybe you can split the Unconnected characters and maybe the connected can move together, just a thought .
Thanks again so much for follow up and response

[2021-06-18 01:10] SirusCodes commented on #257
Yes! [Devanagari](https://en.wikipedia.org/wiki/Devanagari) also has a similar way of writing. Do you have any idea how we can split them?

[2021-06-18 01:13] ibra7002 commented on #257
no i do not sorry

[2021-06-18 02:28] khangahs commented on #259
Yes, I am sure. When I turn off the google_fonts widget, the error
disappears and animated_text_kits widgets display properly.

On Fri, Jun 18, 2021 at 7:18 AM Darshan Rander ***@***.***>
wrote:

[2021-06-23 16:02] Sam-Guru-In-Training opened #260 "Stacking text animations"
**Is your feature request related to a problem? Please describe.**
I'd like to choreograph Text animations one after another.

So for instance my main text is a TextLiquidFill
Following its completion, I'd like to run
TypewriterAnimatedText on another line of Text.

Probably the most flexible solution would be to offer a way to delay an animation starting, so you can set it to the duration of the

[2021-06-24 06:25] SirusCodes commented on #260
That's a nice suggestion. Or we can give the user an option to pass an `AnimationController`.

I don't think that's a good idea because this will increase the package size without giving any significant value to the user.

[2021-06-24 12:22] zjjt commented on #260
+1 for enabling passing an animation controller.
I am dealing with some texts which animations i need to sync but for now i am unable to properly do that since their timing is all wrong

[2021-06-25 07:21] SirusCodes commented on #260
It would be really great if anyone of you can contribute to the feature as all the maintainers are busy.

[2021-06-25 11:25] keyurgit45 commented on #260
I am a beginner. I would like to contribute if anyone can guide me.

[2021-07-01 02:11] Djcharles26 commented on #189
Why don't add a fadingOut boolean, to ask if last text in array must stay or fade out?

[2021-07-05 18:54] awhitford commented on #252
#261 resolved this.

[2021-07-05 18:54] #252 closed

[2021-07-05 19:06] awhitford commented on #258
@dhruv1710 Please provide a reproducible test case because the Colorize animation seems to work fine for the [live example app](https://animated-text-kit.web.app/).

[2021-07-05 19:11] awhitford commented on #254
This would require a custom animation.

[2021-07-05 19:15] awhitford commented on #249
@syleishere Try adding a `key` like this:
[code]

[2021-07-16 22:18] rodion-m commented on #163
+1. Sometimes it's useful to set a delay before animation will start.

[2021-07-25 16:30] xXCHINNAXx commented on #108
hi, it didn't fix for me
here is my code

[code]

for the first one its working fine but for the next(after updating the state value) no animation and not text change.

[2021-07-26 14:08] roariyo opened #263 "Appreciation and Animation Improvement Ideas"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when I am unable to change the speed of the animation and have a wavy effect on the text being animated

**Describe the solution you'd like**
Can I have the speed property to allow me regulate the execution speed, also can I have text wave options on

[2021-07-29 11:04] SirusCodes commented on #263
1st one seems doable but the 2nd one is font.

It would be great if you can contribute to this package...

[2021-08-14 05:13] canbrky opened #264 "Why it does not depend on the index instead of duration?"
There are scenarios where we do not know when text should be changed, it could have a index argument and listen to it , whenever the change happens, text animation happens.

[2021-08-15 14:06] #264 closed

[2021-08-15 21:59] validity-check commented on #257
What about some sort of joining character like "ـ"

[2021-08-18 08:20] SirusCodes commented on #257
That's a really nice idea. We can also allow the user to have their own delimiter.
Would be great if you can contribute to it.

[2021-08-24 11:35] xxxDeNxxx opened #265 "Error Colorize"
Добрый вечер!

В анимации Colorize , анимация запинается сначала на первой букве, а только потом проходит по всему слову/
Проверял на разных симуляторах и на реальном устройстве Android, отображается везде одинакого.

**Expected behavior**
Хотел чтобы анимация проходила сразу по всему слову.

**Flutter:**
 - Flutter v3.25.0
 - channel

**Dart:**
 - v3.25.1

https://user-images.githubusercontent.co

[2021-08-26 06:21] mrsrmn opened #266 "ColorizeAnimatedText() stumbles on the first letter"
**Describe the bug**
In the Colorize animation, the animation stumbles on the first letter, and only then goes through the whole word.
I checked it on different simulators and on a real Android device, it is displayed the same everywhere.

**To Reproduce**
Steps to reproduce the behavior:
1. Use `ColorizeAnimatedText()` anywhere. It gives the same behavior all the time.

**Expected behavior**
Just

[2021-09-03 10:05] #258 closed

[2021-09-04 08:31] xxxDeNxxx commented on #265
This error refers to - textDirection: TextDirection.ltr

[2021-09-12 07:20] MakufonSkifto commented on #266
Hello? @aagarwal1012

[2021-09-18 19:57] EskAere opened #267 "How to add text outline/border ?"
It is usually done using a Stack. However, the only option to customize the text is to change the TextStyle.

[2021-09-25 11:16] akbarpulatov opened #268 "example: order is always zero."
Example animation order is not changing:
[code]

[2021-09-26 08:35] namlhse02285 commented on #241
Same problem although added "isRepeatingAnimation: false"

[2021-09-26 08:39] namlhse02285 commented on #266
Same as #241

[2021-10-13 06:43] Scheideba commented on #241
happening for me too

[2021-10-30 12:17] 309791679 opened #271 "Wavy problem"
Container(
                      height: 100.r,
                      child: AnimatedTextKit(
                        animatedTexts: [
                          WavyAnimatedText('Hello World',textStyle: TextStyle(
                              fontSize: 20.0,
                              color: Colors.black
                          ), textAlign : TextAlign.center,
                          ),

[2021-10-30 12:47] 309791679 commented on #271
Solved, the required package Center is what I did not expect

[2021-10-30 12:47] 309791679 commented on #271
Container(

                      height: 100.0,
                      width: 300.0,
                      child: Center(

                        child:AnimatedTextKit(
                          repeatForever: true,
                          animatedTexts: [
                            WavyAnimatedText(
                              'Hello World',
                              textStyle: const Te

[2021-10-30 12:47] 309791679 commented on #271
[code]

[2021-10-30 13:12] 309791679 commented on #271
Not good for Chinese support

[code]
After the animation is complete, move the text box up a bit

[2021-10-30 13:15] 309791679 commented on #271
The example seems to have moved slightly
[code]

[2021-11-01 19:24] zionnite opened #272 "Animated Text stop Displaying"
**Describe the bug**
Hello, thanks for these amazing features you have developed, am really grateful but i encounter an issue, everything was working fine but all of a sudden it stop displaying.

**To Reproduce**
Steps to reproduce the behavior:
1)Add the plugin to the pubspec.yaml
2) Import it into the stful widget at the top of the file
3) then add the `AnimatedTextKit`

**Expected behavior**
I

[2021-11-03 18:42] flipflop133 commented on #20
Is there a way tough to use autosizetext with this package?

[2021-11-04 09:46] sejun2 opened #273 "Suggest feature. To speed up appearing letters when long press the typeranimatedtext."
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
What about adding long-press callback at getsturedetector in the AnimatedKit? and then it could change duration of the controller.

**Describe alternatives you've considered**

**Additional context**

[2021-11-09 04:54] RhinoInani opened #274 "Rotate Animation Causes Row to Move"
Hello,
First, I would like to say amazing work on the package it truly is one of the better free flutter packages out there! But I think there is a small bug with the rotating text animation.

I am working on a flutter web project and wanted to use the package. Though when I copied your sample code for the rotating animation and put it in a Column that is wrapped around a SingleChildScrollView the

[2021-11-29 17:51] mohamadbastin opened #275 "Add Leading Text and Following Text support"
It would be good to have a way to use the animations in line with other text. or to declare a leading text and a following text.

something like:  "Hello [animated text], good morning!"

I think this could be easily done by putting the texts in a row.

[2021-12-05 15:59] milkyway044 commented on #163
+1

[2021-12-30 00:05] #273 closed

[2022-01-13 03:14] sleepreading opened #276 "pause duration affects the first frame"
[code]

[2022-02-06 01:05] choiNTSBG opened #277 "Is it possible to export your widgets as transparent videos or gif?"
your text animation are cool and all, but what will make this even cooler is to be able to export it. is that anyway possible?

[2022-02-10 15:48] banderberg commented on #189
I agree with @Djcharles26.  I want to have my text fade in and then stay there rather than fading out again.

[2022-02-10 16:01] banderberg commented on #189
`import 'package:animated_text_kit/animated_text_kit.dart';
import 'package:flutter/material.dart';

class FadeInAnimatedText extends AnimatedText {
  /// Marks ending of fade-in interval, default value = 0.5
  final double fadeInEnd;

  FadeInAnimatedText(
    String text, {
    TextAlign textAlign = TextAlign.start,
    TextStyle? textStyle,
    Duration duration = const Duration(milliseconds: 2

[2022-02-12 17:38] Athrav-droid opened #278 "Website not working properly on phone .. Used animated_text_kit package and inside readme in example section text amd example are not clearly visible ."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Flutter:**
 - version
 - channel

**

[2022-02-20 06:43] RasheeqZaman commented on #260
Is there any option to pass AnimationController now?

[2022-02-27 20:27] Linspirit98 opened #279 "Is it possible to go to next TypewriterAnimatedText when clicking the whole screen instead of just the widget?"
Hi, So my issue is I use typewriter effect inside a container widget of size 100x200. When I want to stop pause on tap, I must click inside the container. Is there a way to add a controller that can control when to go to the next TypewriterAnimatedText?

Best regards.

[2022-02-28 04:45] x-abgth opened #280 "Animated underline"
**Request add a new feature or animation**
Animated underline for texts

[2022-03-24 04:49] antonygunawan94 opened #284 "Can animated text kit be used inside text field?"
Hello, can this library be used inside text field?

[2022-05-03 19:38] chimon2000 opened #287 "Ability to control entry/exit animations of RotateAnimatedText"
**Is your feature request related to a problem? Please describe.**
_A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]_

Currently. there is no way to control the direction of `RotateAnimatedText` for entry/exit animations.

**Describe the solution you'd like**
_A clear and concise description of what you want to happen._

* Ability to override exit animat

[2022-05-14 06:16] queendevelopers commented on #59
I'll love to maintain this package. ^_^.

[2022-05-14 10:32] aagarwal1012 commented on #59
@queendevelopers I am glad that you want to become the maintainer, please go ahead and review the pending PRs and issues.

[2022-06-02 07:15] simonpham opened #288 "Support returning currently displayed text onTap"
**Describe the solution you'd like**
[code]

**Additional context**
This is useful for animated text kit in the search bar, which users can quickly tap to the displayed text to search for it.

[2022-06-05 14:22] aagarwal1012 commented on #249
Closing this comment, as the issue seems to be resolved.

[2022-06-05 14:22] #249 closed

[2022-06-05 14:25] aagarwal1012 commented on #275
You can do this easily with the `Text`, `AnimatedText`, and `Text` widgets inside a `Row` widget. Closing this issue for now.

[2022-06-05 14:25] #275 closed

[2022-06-05 14:33] #268 closed

[2022-06-05 15:28] #248 closed

[2022-07-03 21:47] vagun opened #291 "cant see blinking cursor in TypewriterAnimatedText"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Flutter:**
 - version
 - channel

**

[2022-08-15 10:05] MichalNemec commented on #189
this would be appreciated, i need last text to stay.

[2022-08-26 09:57] MuneerAhamed01 opened #292 "TypewriterAnimatedText Want new feature"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-08-28 05:50] BenjiFarquhar commented on #292
I'd also like this feature (to use RichText / TextSpan in the AnimatedText text parameter). By chance, it's the `TypewriterAnimatedText` that I'd also like to use it with.

[2022-09-05 18:39] DEVANCE24 opened #293 "ABOUT DefaultTextStyle"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [ For defaultTextStyle 2 child widgets are needed some parent widgets like sliverboxadapter does not take multiple child widgets so every animated text needs individual textstyle]

**Describe the solution you'd like**
Keeping DefaultTextStyle ins

[2022-09-13 20:39] BenjiFarquhar opened #295 "ScaledAnimatedText causes the whole page content to do a little vertical jump on each animation cycle"
**Describe the bug**
ScaledAnimatedText causes the whole page content to do a little jump on each animation cycle. On all platforms.
The content goes up and then down by about 2 or 3 pixels each time.

**To Reproduce**
[code]

**Expected behavior**
No jump.

version: animated_text_kit: ^4.2.2

**Flutter:**
 - 3.0.3
 - stable

**Dart:**
 - 2.17.5

[2022-09-27 10:14] Braj65 commented on #292
Also is it possible to have the effect of writing a word and backspacing each character in the word one by one. Then writing new word character by character. Like the following progression
WE ARE HONDA
WE ARE HOND
WE ARE HON
WE ARE HO
WE ARE H
WE ARE
WE ARE T
WE ARE TR
WE ARE TRU
WE ARE TRUS
WE ARE TRUST
WE ARE TRUSTE
WE ARE TRUSTED

[2022-10-01 02:09] rajat-ventura commented on #267
Can i do this issue?

[2022-10-07 15:41] michalkubizna opened #296 "Set repeatForever to true for new comers."
I thought the package was broken at first because repeatForever was set to false. Set it to true for to make it more friendly for new comers.

[2022-10-14 02:32] niumj commented on #58
May be you wrote the source [_controller.dispose();] in the method build.
But Flutter would call build multiple times.So you try to write the code [_controller.dispose();]  in the method dispose etc.

[2022-11-05 04:21] ABHISHEK0S1INGH commented on #260
Hey @SirusCodes  My name is Abhishek Singh and i want to contribute on this issue. Can you please assign me ?? It will be very greatful

[2022-11-05 04:38] ABHISHEK0S1INGH commented on #260
thank you @SirusCodes I will try to give my best.

[2022-11-07 03:21] ABHISHEK0S1INGH commented on #260
Hi @SirusCodes ,I need help regarding this project,can you help me plz...

[2022-11-07 06:12] SirusCodes commented on #260
@ABHISHEK0S1INGH open a discussion... Let's not spam everyone here

[2022-11-18 21:06] axgalache opened #299 "TypewriterAnimatedText text not centered in screen"
When I use TypewriterAnimatedText animation, I can not have the text horizontally centered to the screen.

Capture:

[https://imgur.com/a/3kJoxyU](url)

Should be something like this:

[https://imgur.com/a/2cfx3eC](url)

[2022-11-30 18:20] JesusJoseph commented on #27
This solution works perfectly for flutter projects using GetX package using Obx instead of setState.